{"openapi":"3.0.0","info":{"title":"Labs API","version":"1.3.49","description":"API for integrating lab diagnostics — availability checks, package catalog, order management, report retrieval, and health camps. All requests must include a valid `ls-api-key` header.","contact":{"name":"LabStack Support","url":"https://console.labstack.in"}},"servers":[{"url":"https://integration.labstack.in"}],"security":[{"ApiKeyAuth":[]}],"components":{"securitySchemes":{"ApiKeyAuth":{"type":"apiKey","in":"header","name":"ls-api-key","description":"API key issued by LabStack. Pass this in every request header."}},"schemas":{"ErrorResponse":{"type":"object","properties":{"status":{"type":"string","enum":["failure"],"example":"failure"},"error":{"type":"string","example":"Authorisation failed - API Key not present in HTTP Header."}},"required":["status","error"]}},"responses":{"Unauthorized":{"description":"Unauthorized — API key missing or invalid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"BadRequest":{"description":"Bad request — missing or invalid parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"paths":{"/api/v1.3/order/uploadDocument":{"post":{"tags":["Order"],"summary":"Upload order documents (lab)","security":[],"responses":{"200":{"description":"Documents uploaded","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","example":"success"},"orderId":{"type":"integer"},"uploadedCount":{"type":"integer"},"documents":{"type":"array","items":{"type":"object","properties":{"documentId":{"type":"integer"},"fileName":{"type":"string"}}}},"errors":{"type":"array","items":{"type":"string"},"description":"present only on partial failure"}}},"example":{"status":"success","orderId":47585,"uploadedCount":2,"documents":[{"documentId":9001,"fileName":"report.pdf"},{"documentId":9002,"fileName":"scan.jpg"}]}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"description":"Order not found"}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["token","documents"],"properties":{"token":{"type":"string","description":"time-limited upload token from the emailed link"},"documents":{"type":"array","items":{"type":"object","required":["content","fileName"],"properties":{"content":{"type":"string","description":"Base64-encoded file content. Max 10 MB per file."},"fileName":{"type":"string","example":"report.pdf","description":"Original file name with extension. Allowed: pdf, jpg, jpeg, png."}}}}}},"example":{"token":"<UPLOAD_TOKEN>","documents":[{"content":"JVBERi0xLjQK...","fileName":"report.pdf"}]}}}},"description":"Uploads 1-5 base64-encoded documents (pdf/jpg/jpeg/png, max 10 MB each) against a center-visit order. Authenticated by the time-limited encrypted token from the emailed upload link, NOT an API key.\n"}},"/api/v1.3/order/testWebhook":{"get":{"tags":["Order"],"summary":"Trigger a test order webhook","security":[{"ApiKeyAuth":[]}],"responses":{"200":{"description":"Webhook triggered","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","example":"success"},"message":{"type":"string"}}},"example":{"status":"success","message":"Webhook successfully triggered"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"}},"parameters":[{"in":"query","name":"orderId","required":true,"description":"Order id to trigger a dummy webhook for. The actual order is not updated.","example":"47585","schema":{"type":"string"}},{"in":"query","name":"orderStatus","required":false,"description":"Optional. Order status to simulate. For PENDING/CREATED/ORDER_SCHEDULED/RESCHEDULED, phlebo fields are null; otherwise (and not CANCELED) dummy phlebo details are used. RESCHEDULED sets the appointment to 10am the next day. REPORT_DELIVERED returns a dummy report link when none exist.\n","schema":{"type":"string","enum":["PENDING","CREATED","ORDER_SCHEDULED","KIT_DISPATCHED","PATIENT_MISSED","PATIENT_VISITED","PHLEBO_ASSIGNED","PHLEBO_STARTED","PHLEBO_NO_SHOW","SAMPLE_COLLECTED","SAMPLE_IN_TRANSIT","SAMPLE_DELIVERED","SAMPLE_PROCESSED","PARTIAL_DELIVERED","REPORT_DELIVERED","RESCHEDULED","CANCELED"]}}],"description":"Simulates an order-status webhook for testing (injects dummy phlebo/report data)."}},"/api/v1.3/order/rescheduleOrder":{"get":{"tags":["Order"],"summary":"Reschedule an order","security":[{"ApiKeyAuth":[]}],"responses":{"200":{"description":"Order rescheduled","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","example":"success"},"order":{"type":"object","properties":{"orderId":{"type":"integer"},"orderStatus":{"type":"string","enum":["PENDING","RESCHEDULED"]}}}}},"example":{"status":"success","order":{"orderId":47585,"orderStatus":"RESCHEDULED"}}}}},"202":{"description":"Reschedule pending at lab","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","example":"pending"},"message":{"type":"string"}}},"example":{"status":"pending","message":"Rescheduling started. Check order status in a few minutes"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"}},"parameters":[{"in":"query","name":"orderId","required":true,"description":"Order id to reschedule.","example":"47585","schema":{"type":"string"}},{"in":"query","name":"appointment","required":true,"description":"New appointment date-time, ISO 8601 format.","schema":{"type":"string","example":"2025-06-01T11:00:00+05:30"}}],"description":"Reschedules an order to a new appointment time (validates slot availability with the lab). This GET has side effects."}},"/api/v1.3/order/placeOrder":{"post":{"tags":["Order"],"summary":"Place a lab order","security":[{"ApiKeyAuth":[]}],"responses":{"200":{"description":"Order placed","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["success","failure"],"example":"success"},"order":{"type":"object","properties":{"orderId":{"type":"integer"},"referenceId":{"type":"string","nullable":true},"preparations":{"type":"array","items":{"type":"string"},"description":"Preparations to do before sample collection"},"orderStatus":{"type":"string","enum":["PENDING","CREATED","ORDER_SCHEDULED","KIT_DISPATCHED","PATIENT_MISSED","PATIENT_VISITED","PHLEBO_ASSIGNED","PHLEBO_STARTED","PHLEBO_NO_SHOW","SAMPLE_COLLECTED","SAMPLE_IN_TRANSIT","SAMPLE_DELIVERED","SAMPLE_PROCESSED","PARTIAL_DELIVERED","REPORT_DELIVERED","RESCHEDULED","CANCELED"]},"labName":{"type":"string"},"labLogo":{"type":"string","nullable":true},"lsLabId":{"type":"integer"},"lsChainId":{"type":"integer","nullable":true,"description":"Null if the lab is not part of a chain"},"labApiError":{"type":"string","nullable":true,"description":"Error string from the lab when placing the order, or null. Note: null does not guarantee success - confirm orderStatus is not PENDING."},"labAddress":{"type":"string","nullable":true,"description":"Present for CENTER_VISIT orders"},"labLocality":{"type":"string","nullable":true,"description":"Present for CENTER_VISIT orders"},"labCity":{"type":"string","nullable":true,"description":"Present for CENTER_VISIT orders"},"labState":{"type":"string","nullable":true,"description":"Present for CENTER_VISIT orders"},"labPincode":{"type":"string","nullable":true,"description":"Present for CENTER_VISIT orders"},"labLatitude":{"type":"number","nullable":true,"description":"Present for CENTER_VISIT orders"},"labLongitude":{"type":"number","nullable":true,"description":"Present for CENTER_VISIT orders"}}},"paymentLink":{"type":"string","nullable":true,"description":"Only returned when isPaymentRequired is true. Valid for 15 minutes from order placement."},"paymentLinkExpiresAt":{"type":"string","format":"date-time","nullable":true,"description":"Only returned when isPaymentRequired is true. Always 15 minutes after order placement, regardless of the store payment configuration; the order is cancelled at this point if unpaid."}}},"example":{"status":"success","order":{"orderId":47585,"referenceId":"REF-123","preparations":["Fasting for 12 hours","Stop cholesterol medicines"],"orderStatus":"CREATED","labName":"Lab Name 1","labLogo":"www.image.com","lsLabId":12,"lsChainId":2,"labApiError":null,"labAddress":null,"labLocality":null,"labCity":null,"labState":null,"labPincode":null,"labLatitude":null,"labLongitude":null},"paymentLink":null,"paymentLinkExpiresAt":null}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"409":{"description":"Duplicate order found (existing order for the same user, address, products and appointment)","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","example":"failure"},"error":{"type":"string","example":"An order with the same products already exists for this customer at the same address and appointment date"},"orderId":{"type":"number","description":"Order id of the matching duplicate order"},"referenceId":{"type":"string","description":"Reference id of the duplicate order"},"orderStatus":{"type":"string"}}}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["orderType","appointment","name","email","gender","mobile","pincode"],"properties":{"orderType":{"type":"string","enum":["HOME_SAMPLE","CENTER_VISIT","KIT_BASED"],"description":"Type of order/service."},"isVip":{"type":"boolean","description":"Optional. Marks the order as VIP. Defaults to false."},"isPostpaid":{"type":"boolean","description":"Optional. Marks the order as postpaid. Defaults to false."},"referenceId":{"type":"string","description":"Optional. Your own reference id; echoed back in responses and webhooks."},"linkOrderId":{"type":"integer","description":"Optional. Link this order to an existing LabStack order id."},"packageIds":{"type":"array","items":{"type":"string"},"description":"LS package ids to order (e.g. LSP11002). Provide packageIds and/or testIds."},"testIds":{"type":"array","items":{"type":"string"},"description":"LS test ids to order (e.g. LSL110001). Provide packageIds and/or testIds."},"appointment":{"type":"string","example":"2025-06-01T11:00:00+05:30","description":"Appointment date-time, ISO 8601 format."},"labId":{"type":"integer","description":"Optional. Lab to place the order with. If not specified, LabStack assigns a lab."},"notes":{"type":"string","description":"Optional. Free-text notes for the order (e.g. \"Patient is old, veins are thin\")."},"isPaymentRequired":{"type":"boolean","description":"Optional. If true a payment link valid for 15 minutes is returned, and the order is auto-cancelled if it is not paid within that window. Defaults to false."},"isSlotPreconfirmed":{"type":"boolean","description":"Optional. Indicates the slot was already confirmed with the consumer."},"uniqueId":{"type":"string","description":"Optional. Uniquely identifies the user; existing users are updated, new ids create a user. If omitted, defaults to {mobile}-{name}."},"name":{"type":"string","description":"Consumer name. Sanitised to alphanumerics; must be non-empty and up to 50 characters."},"email":{"type":"string","description":"Consumer email address."},"dateOfBirth":{"type":"string","description":"YYYY-MM-DD. Required if age is not provided."},"age":{"type":"integer","description":"Consumer age. Required if dateOfBirth is not provided."},"gender":{"type":"string","enum":["MALE","FEMALE","OTHERS"],"description":"Consumer gender."},"mobile":{"type":"string","description":"10 digits, cannot start with 0."},"altContact":{"type":"string","description":"Optional. Alternate 10-digit contact number; cannot start with 0."},"mainUserUniqueId":{"type":"string","description":"Optional. To mark this user as a dependent, pass the uniqueId of the main user (must already exist)."},"relationship":{"type":"string","enum":["OTHER","HUSBAND","WIFE","FATHER","MOTHER","SON","DAUGHTER","GRANDFATHER","GRANDMOTHER","GRANDSON","GRANDDAUGHTER","SON_IN_LAW","DAUGHTER_IN_LAW","BROTHER","SISTER","BROTHER_IN_LAW","SISTER_IN_LAW","UNCLE","AUNT","COUSIN","NEPHEW","NIECE","MOTHER_IN_LAW","FATHER_IN_LAW","PARTNER","FRIEND","NEIGHBOUR"],"description":"Optional. Dependent's relationship to the main user. Defaults to OTHER."},"unitFloorBuilding":{"type":"string","description":"Optional. Not used to fetch lat/long."},"address":{"type":"string","description":"Required for HOME_SAMPLE. Full address ({unitFloorBuilding}, {address}, {locality}, {city}, {state}) must be 20-200 characters."},"locality":{"type":"string","description":"Optional."},"city":{"type":"string","description":"Required for HOME_SAMPLE."},"state":{"type":"string","description":"Required for HOME_SAMPLE."},"pincode":{"type":"string","description":"Always required. 6 digits."},"latitude":{"type":"number","description":"Optional."},"longitude":{"type":"number","description":"Optional."}}},"example":{"orderType":"HOME_SAMPLE","isVip":false,"isPaymentRequired":false,"referenceId":"REF-123","packageIds":["LSP11002","LSP11004"],"testIds":["LSL110001","LSL120031"],"appointment":"2025-06-01T11:00:00+05:30","notes":"Patient is old, veins are thin.","uniqueId":"U1234","name":"Bob Smith","email":"bobsmith@example.com","dateOfBirth":"2000-01-01","gender":"MALE","mobile":"8047359194","altContact":"8047359194","unitFloorBuilding":"2nd Floor Tower 3","address":"123 Main Road","locality":"Gopalapur","city":"Bangalore","state":"Karnataka","pincode":"560035","latitude":13.045163,"longitude":77.53775859999999}}}},"description":"Creates an order for the authenticated store. Provide packageIds and/or testIds. pincode is always required; address/city/state are additionally required for HOME_SAMPLE orders. Either dateOfBirth or age must be provided. orderType CAMP is not accepted by this endpoint. uniqueId is optional (auto-generated when omitted). Optionally generates a Razorpay payment link when payment is required; that link is valid for 15 minutes and the order is auto-cancelled if payment is not completed in that window.\n"}},"/api/v1.3/order/getReportRawValues":{"get":{"tags":["Order"],"summary":"Get order report values","security":[{"ApiKeyAuth":[]}],"responses":{"200":{"description":"Standardized test values","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["success","failure"],"example":"success"},"testValues":{"type":"array","items":{"type":"object","properties":{"packageName":{"type":"string","nullable":true},"profileName":{"type":"string","nullable":true},"testName":{"type":"string"},"value":{"type":"string","description":"Measured value (a number or a descriptive string)"},"units":{"type":"string","nullable":true},"method":{"type":"string","nullable":true},"isHighlighted":{"type":"boolean","description":"True when the matched range colour is not GREEN"},"rangesType":{"type":"string","enum":["RANGE","DESCRIPTIVE"]},"matchedRange":{"type":"object","nullable":true,"properties":{"label":{"type":"string","nullable":true},"color":{"type":"string","enum":["GREEN","YELLOW","RED"]},"low":{"type":"number","nullable":true,"description":"RANGE only. If only low, read as value < low."},"high":{"type":"number","nullable":true,"description":"RANGE only. If only high, read as value > high."},"description":{"type":"array","items":{"type":"string"},"description":"DESCRIPTIVE only. Value matches if it equals any entry."}}},"ranges":{"type":"array","description":"All possible ranges for the test.","items":{"type":"object","properties":{"label":{"type":"string","nullable":true},"color":{"type":"string","enum":["GREEN","YELLOW","RED"]},"low":{"type":"number","nullable":true,"description":"RANGE only"},"high":{"type":"number","nullable":true,"description":"RANGE only"},"description":{"type":"array","items":{"type":"string"},"description":"DESCRIPTIVE only"}}}}}}}}},"example":{"status":"success","testValues":[{"packageName":"Advanced Package","profileName":"Diabetes Markers","testName":"Glucose Fasting","value":"127","units":"mg/dL","method":null,"isHighlighted":true,"rangesType":"RANGE","matchedRange":{"label":"Danger","color":"RED","low":125,"high":null},"ranges":[{"label":"Desirable","color":"GREEN","low":70,"high":100},{"label":null,"color":"YELLOW","low":101,"high":125},{"label":"Danger","color":"RED","low":125,"high":null}]},{"packageName":"Advanced Package","profileName":"Diabetes Markers","testName":"Colour Urine","value":"Pale Yellow","units":"Description","method":null,"isHighlighted":true,"rangesType":"DESCRIPTIVE","matchedRange":{"label":"Desirable","color":"GREEN","description":["Pale Yellow","Light Yellow"]},"ranges":[{"label":"Desirable","color":"GREEN","description":["Pale Yellow","Light Yellow"]},{"label":"Slight Risk","color":"YELLOW","description":["Dark Yellow","Amber"]},{"label":"High Risk","color":"RED","description":["Dark Amber","Red","Brown"]}]}]}}}},"202":{"description":"Values are not available yet and are being extracted from the report","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","example":"pending"},"message":{"type":"string"}}},"example":{"status":"pending","message":"Raw values for order 47585 are being extracted. Check back in a few minutes, or wait for the HARMONIZED_VALUES_CHANGED order webhook."}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"}},"parameters":[{"in":"query","name":"orderId","required":true,"description":"Order id to get raw report values for. Only available when the order status is REPORT_DELIVERED.","example":"47585","schema":{"type":"string"}}],"description":"Returns standardized test values for an order; available only when the order status is REPORT_DELIVERED. If the values have not been generated yet and the order has a valid report, extraction is started automatically and a 202 is returned — retry the call in a few minutes, or wait for the HARMONIZED_VALUES_CHANGED order webhook. Extraction is attempted at most once per order, so a 400 means the values are not going to become available without LabStack support."}},"/api/v1.3/order/getReport":{"get":{"tags":["Order"],"summary":"Download order report PDF","security":[{"ApiKeyAuth":[]}],"responses":{"200":{"description":"Report PDF","content":{"application/pdf":{"schema":{"type":"string","format":"binary"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"}},"parameters":[{"in":"query","name":"orderId","required":true,"description":"Order id to get the report PDF of. Use 0 to download a dummy sample report.","example":"47585","schema":{"type":"string"}},{"in":"query","name":"reportId","required":true,"description":"Report id to download (found in the reports[] of getOrderDetails or the webhook payload).","example":"0","schema":{"type":"string"}}],"description":"Streams the order's report as a PDF (orderId=0 returns a dummy sample report)."}},"/api/v1.3/order/getOrders":{"get":{"tags":["Order"],"summary":"List orders","security":[{"ApiKeyAuth":[]}],"responses":{"200":{"description":"List of orders","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["success","failure"],"example":"success"},"orders":{"type":"array","items":{"type":"object","properties":{"orderId":{"type":"number","description":"LabStack order id"},"orderType":{"type":"string","enum":["HOME_SAMPLE","CENTER_VISIT"]},"referenceId":{"type":"string","nullable":true,"description":"Reference id given when placing the order"},"appointment":{"type":"string","description":"Appointment time, ISO 8601"},"orderStatus":{"type":"string","enum":["PENDING","CREATED","ORDER_SCHEDULED","PHLEBO_ASSIGNED","SAMPLE_COLLECTED","SAMPLE_IN_TRANSIT","SAMPLE_DELIVERED","SAMPLE_PROCESSED","CANCELED","RESCHEDULED","REPORT_PARTIAL","REPORT_DELIVERED"]},"phleboName":{"type":"string","nullable":true},"phleboNumber":{"type":"string","nullable":true},"labName":{"type":"string"},"labLogo":{"type":"string","nullable":true},"lsLabId":{"type":"number"},"lsChainId":{"type":"number","nullable":true,"description":"Null if the lab is not part of a chain"},"updatedAt":{"type":"string","description":"Last update time, ISO 8601"}}}}}},"example":{"status":"success","orders":[{"orderId":47585,"orderType":"HOME_SAMPLE","referenceId":"123","appointment":"2023-12-23T18:25:43.511Z","orderStatus":"SAMPLE_PROCESSED","phleboName":"Bob Smith","phleboNumber":"8047359194","labName":"Lab name 1","labLogo":"www.image.com","lsLabId":12,"lsChainId":2,"updatedAt":"2024-12-11T12:20:52.623Z"},{"orderId":47586,"orderType":"HOME_SAMPLE","referenceId":"124","appointment":"2023-11-03T21:45:23.211Z","orderStatus":"ORDER_SCHEDULED","phleboName":null,"phleboNumber":null,"labName":"Lab name 2","labLogo":null,"lsLabId":14,"lsChainId":null,"updatedAt":"2024-12-08T10:23:54.610Z"}]}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"}},"parameters":[{"in":"query","name":"startDate","required":false,"description":"Optional. Filter orders with appointments after this date. ISO 8601 date-time.","example":"2026-01-01T00:00:00.000Z","schema":{"type":"string"}},{"in":"query","name":"endDate","required":false,"description":"Optional. Filter orders with appointments before this date. ISO 8601 date-time.","example":"2026-12-31T23:59:59.000Z","schema":{"type":"string"}},{"in":"query","name":"updatedSince","required":false,"description":"Optional. Filter orders updated since this date. ISO 8601 date-time.","schema":{"type":"string"}},{"in":"query","name":"email","required":false,"description":"Optional. Filter orders placed for a user with this email (case-insensitive).","schema":{"type":"string"}}],"description":"Returns orders with their appointments for the store, optionally filtered by a start/end appointment-date range, by those updated since a date, and by user email.\n"}},"/api/v1.3/order/getOrderDetails":{"get":{"tags":["Order"],"summary":"Get order details","security":[{"ApiKeyAuth":[]}],"responses":{"200":{"description":"Order details","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["success","failure"],"example":"success"},"orderDetails":{"type":"object","properties":{"orderId":{"type":"number"},"orderType":{"type":"string","enum":["HOME_SAMPLE","CENTER_VISIT"]},"orderStatus":{"type":"string","enum":["PENDING","CREATED","ORDER_SCHEDULED","PHLEBO_ASSIGNED","SAMPLE_COLLECTED","SAMPLE_IN_TRANSIT","SAMPLE_DELIVERED","SAMPLE_PROCESSED","CANCELED","RESCHEDULED","REPORT_PARTIAL","REPORT_DELIVERED"]},"isVip":{"type":"boolean"},"appointment":{"type":"string","description":"ISO 8601 date-time"},"referenceId":{"type":"string","nullable":true,"description":"Same value given when placing the order"},"labOrderId":{"type":"string","nullable":true,"description":"Order's id on the lab's system"},"phleboName":{"type":"string","nullable":true},"phleboNumber":{"type":"string","nullable":true},"labName":{"type":"string"},"labLogo":{"type":"string","nullable":true},"lsLabId":{"type":"number"},"lsChainId":{"type":"number","nullable":true,"description":"Null if the lab is not part of a chain"},"packageIds":{"type":"array","items":{"type":"string"},"description":"LS package ids in the order"},"testIds":{"type":"array","items":{"type":"string"},"description":"LS test ids in the order"},"notes":{"type":"string","nullable":true},"uniqueId":{"type":"string"},"name":{"type":"string"},"preparations":{"type":"string","description":"Preparations to do before sample collection"},"dateOfBirth":{"type":"string","nullable":true,"description":"YYYY-MM-DD"},"age":{"type":"number","nullable":true},"gender":{"type":"string","enum":["MALE","FEMALE","OTHERS"]},"mobile":{"type":"string"},"altContact":{"type":"string","nullable":true},"unitFloorBuilding":{"type":"string","nullable":true},"address":{"type":"string"},"locality":{"type":"string","nullable":true},"city":{"type":"string"},"state":{"type":"string"},"pincode":{"type":"string"},"reports":{"type":"array","items":{"type":"object","properties":{"link":{"type":"string","description":"Report PDF download link"},"type":{"type":"string","enum":["FULL","PARTIAL"]}}}},"isPaymentRequired":{"type":"boolean"},"cancelReason":{"type":"string"},"updatedAt":{"type":"string","description":"ISO 8601 date-time"}}}}},"example":{"status":"success","orderDetails":{"orderId":47585,"orderType":"HOME_SAMPLE","orderStatus":"PHLEBO_ASSIGNED","isVip":false,"appointment":"2023-12-23T18:25:43.511Z","referenceId":"P10012","labOrderId":"BLR1234","phleboName":"Bob Smith","phleboNumber":"8047359194","labName":"Lab name 1","labLogo":"www.image.com","lsLabId":57,"lsChainId":3,"packageIds":["LSP10029","LSP10871"],"testIds":["LSL110001","LSL110002"],"notes":"Patient is old, veins are thin.","uniqueId":"U1234","name":"Bob Smith","preparations":"Fasting for 12 hours","dateOfBirth":"2000-01-01","age":24,"gender":"MALE","mobile":"8047359194","altContact":"8047359194","unitFloorBuilding":"2nd Floor Tower 3","address":"123 Main Road","locality":"Gopalapur","city":"Bangalore","state":"Karnataka","pincode":"560035","reports":[{"link":"https://integration.labstack.in/api/v1.3/order/getReport?orderId=34&reportId=0","type":"FULL"}],"isPaymentRequired":false,"cancelReason":"","updatedAt":"2024-12-11T12:20:52.623Z"}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"}},"parameters":[{"in":"query","name":"orderId","required":false,"description":"Order id to fetch details for. Required if referenceId not given. Overrides referenceId if given.","example":"47585","schema":{"type":"string"}},{"in":"query","name":"referenceId","required":false,"description":"Reference id to fetch details for. Required if orderId not given. Ignored if orderId given.","schema":{"type":"string"}}],"description":"Returns full detail for one order including report download links. Provide orderId or referenceId (at least one). orderId takes precedence and overrides referenceId if both are given.\n"}},"/api/v1.3/order/escalation":{"post":{"tags":["Order"],"summary":"Raise an order escalation","security":[{"ApiKeyAuth":[]}],"responses":{"200":{"description":"Escalation created","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","example":"success"},"escalation":{"type":"object","properties":{"id":{"type":"integer"},"complaint":{"type":"string"},"status":{"type":"string"},"severity":{"type":"string","enum":["LOW","MEDIUM","HIGH","CRITICAL"]}}}}},"example":{"status":"success","escalation":{"id":532,"complaint":"Delayed report","status":"PENDING","severity":"MEDIUM"}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"description":"Failed to create escalation"}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["orderId","complaint","severity"],"properties":{"orderId":{"type":"integer","description":"Order id to raise the escalation against."},"complaint":{"type":"string","description":"Short complaint title (e.g. \"Delayed report\")."},"severity":{"type":"string","enum":["LOW","MEDIUM","HIGH","CRITICAL"],"description":"Escalation severity."},"description":{"type":"string","description":"Optional. Detailed description of the issue."},"notes":{"type":"string","description":"Optional. Additional notes for our team."}}},"example":{"orderId":47585,"complaint":"Delayed report","description":"Report was expected yesterday but has not been delivered.","severity":"MEDIUM","notes":"Customer has called twice."}}}},"description":"Creates a store escalation tied to an order."}},"/api/v1.3/order/cancelOrder":{"get":{"tags":["Order"],"summary":"Cancel an order","security":[{"ApiKeyAuth":[]}],"responses":{"200":{"description":"Order cancelled","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","example":"success"},"order":{"type":"object","properties":{"orderId":{"type":"integer"},"orderStatus":{"type":"string","enum":["PENDING","CANCELED"]}}}}},"example":{"status":"success","order":{"orderId":47585,"orderStatus":"CANCELED"}}}}},"202":{"description":"Cancellation pending at lab","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","example":"pending"},"message":{"type":"string"}}},"example":{"status":"pending","message":"Cancellation started. Check order status in a few minutes"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"}},"parameters":[{"in":"query","name":"orderId","required":true,"description":"Order id to cancel.","example":"47585","schema":{"type":"string"}},{"in":"query","name":"reason","required":false,"description":"Optional. Cancellation reason. Defaults to \"Customer requested cancellation\".","schema":{"type":"string"}}],"description":"Cancels an order for the store and notifies the lab. This GET has side effects."}},"/api/v1.3/network/getTests":{"get":{"tags":["Network"],"summary":"List tests","security":[{"ApiKeyAuth":[]}],"responses":{"200":{"description":"Store tests","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["success","failure"],"example":"success"},"count":{"type":"integer","description":"Number of tests returned"},"tests":{"type":"array","items":{"type":"object","properties":{"lsId":{"type":"string"},"name":{"type":"string"},"category":{"type":"string","enum":["ROUTINE","NON_ROUTINE"]},"preparationNotes":{"type":"string","description":"Preparation instructions for the test, or an empty string if none"},"aliases":{"type":"array","items":{"type":"string"},"description":"Alternative names for the test"}}}}}},"example":{"status":"success","count":2,"tests":[{"lsId":"LSL100336","name":"Glycosylated hemoglobin","category":"ROUTINE","preparationNotes":"","aliases":["HbA1c","H1c Test","Glycosylated Hb"]},{"lsId":"LSL102387","name":"Opiates Morphine","category":"NON_ROUTINE","preparationNotes":"12 hours fasting","aliases":["Opiates"]}]}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"}},"parameters":[{"in":"query","name":"pincode","required":false,"description":"Optional. Filter to tests offered by labs servicing this pincode. Response may be delayed while checking with labs.","example":"560035","schema":{"type":"string"}},{"in":"query","name":"latitude","required":false,"description":"Optional. Filter to tests offered by labs servicing this lat/long.","example":"13.045163","schema":{"type":"string"}},{"in":"query","name":"longitude","required":false,"description":"Optional. Filter to tests offered by labs servicing this lat/long.","example":"77.537758","schema":{"type":"string"}},{"in":"query","name":"labIds","required":false,"description":"Optional. Comma-separated lab ids (as returned by List labs). Only tests offered by these labs are returned. Every id must be a lab in your store network, otherwise the request fails. A lab that is in your network but temporarily unavailable is accepted and simply contributes no tests, so the response can be empty rather than an error.","example":"32632,56","schema":{"type":"string"}}],"description":"Returns all active tests supported by labs enabled for the authenticated store. Optionally filter to tests offered by labs that service a given pincode or lat/long — when a location filter is supplied the response may be delayed while labs are queried. Tests can also be restricted to specific labs via `labIds`. Filters combine, so a test is only returned if it is offered by a lab that satisfies every filter supplied. See Appendix (Test Category) for the possible `category` values.\n"}},"/api/v1.3/network/getTest":{"get":{"tags":["Network"],"summary":"Get test details","security":[{"ApiKeyAuth":[]}],"responses":{"200":{"description":"Test details","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["success","failure"],"example":"success"},"lsId":{"type":"string"},"name":{"type":"string"},"category":{"type":"string","enum":["ROUTINE","NON_ROUTINE"]},"description":{"type":"string"},"isHomeSampleSupported":{"type":"boolean"},"isCenterVisitSupported":{"type":"boolean"},"minTat":{"type":"integer","nullable":true,"description":"Lowest TAT across labs (hours); null if none configured"},"minMrp":{"type":"number","nullable":true,"description":"Lowest MRP across labs; null if none configured"},"aliases":{"type":"array","items":{"type":"string"}},"labs":{"type":"array","items":{"type":"object","properties":{"labName":{"type":"string"},"labLogo":{"type":"string","nullable":true},"lsLabId":{"type":"number"},"lsChainId":{"type":"number","nullable":true},"mrp":{"type":"number","description":"Lab's suggested sale price for the test"},"price":{"type":"number","description":"Store's cost for the test (LabStack's selling price)"}}}},"testRanges":{"type":"object","nullable":true,"properties":{"units":{"type":"string"},"type":{"type":"string","enum":["RANGE","DESCRIPTIVE"]},"ranges":{"type":"array","items":{"type":"object","properties":{"demographic":{"type":"string","enum":["NONE","GENDER","AGE_BRACKET"]},"demographicValue":{"type":"string","nullable":true,"description":"e.g. MALE / FEMALE / OTHERS or NEONATAL / ADULT"},"color":{"type":"string","enum":["GREEN","YELLOW","RED"]},"label":{"type":"string","nullable":true},"low":{"type":"number","nullable":true,"description":"RANGE only; at least one of low/high is set"},"high":{"type":"number","nullable":true,"description":"RANGE only; at least one of low/high is set"}}}}}}}},"example":{"status":"success","lsId":"LSL100336","name":"Glycosylated hemoglobin","category":"ROUTINE","description":"Measures average blood glucose over the past 2-3 months","isHomeSampleSupported":true,"isCenterVisitSupported":true,"minTat":24,"minMrp":300,"aliases":["HbA1c","Glycosylated Hb"],"labs":[{"labName":"Redcliffe Labs Pvt Ltd","labLogo":"www.image.com","lsLabId":2,"lsChainId":null,"mrp":3100,"price":2480},{"labName":"Orange Health - Bangalore","labLogo":null,"lsLabId":4,"lsChainId":2,"mrp":1900,"price":1520}],"testRanges":{"units":"%","type":"RANGE","ranges":[{"demographic":"NONE","demographicValue":null,"color":"RED","label":"Very Low","low":null,"high":4},{"demographic":"NONE","demographicValue":null,"color":"GREEN","label":"Optimal","low":4,"high":5.7},{"demographic":"NONE","demographicValue":null,"color":"YELLOW","label":"Pre-Diabetes","low":5.7,"high":6.4},{"demographic":"NONE","demographicValue":null,"color":"RED","label":"Diabetes","low":6.4,"high":null}]}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"}},"parameters":[{"in":"query","name":"testId","required":true,"description":"The LS id of the test to fetch (e.g. LSL100336).","example":"LSL100336","schema":{"type":"string"}},{"in":"query","name":"pincode","required":false,"description":"Optional. Filter labs servicing this pincode.","example":"560035","schema":{"type":"string"}},{"in":"query","name":"latitude","required":false,"description":"Optional. Filter labs servicing this lat/long.","example":"13.045163","schema":{"type":"string"}},{"in":"query","name":"longitude","required":false,"description":"Optional. Filter labs servicing this lat/long.","example":"77.537758","schema":{"type":"string"}}],"description":"Returns a single test with per-lab pricing (store discount applied) and standard ranges."}},"/api/v1.3/network/getSampleReport":{"get":{"tags":["Network"],"summary":"Download sample report","security":[{"ApiKeyAuth":[]}],"responses":{"200":{"description":"Sample report PDF","content":{"application/pdf":{"schema":{"type":"string","format":"binary"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"}},"parameters":[{"in":"query","name":"packageLsId","required":true,"description":"LS package id (e.g. LSP10001).","example":"LSP10001","schema":{"type":"string"}},{"in":"query","name":"labId","required":true,"description":"Lab id to fetch the sample report for.","example":"3","schema":{"type":"string"}}],"description":"Streams a sample report PDF for a package at a lab. On success the response has content-type application/pdf and content-disposition attachment (the browser downloads the file). Returns a 4XX error if no sample report is available for the package/lab.\n"}},"/api/v1.3/network/getPackages":{"get":{"tags":["Network"],"summary":"List packages","security":[{"ApiKeyAuth":[]}],"responses":{"200":{"description":"Packages and super-packages","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["success","failure"],"example":"success"},"count":{"type":"integer","description":"Number of packages returned"},"packages":{"type":"array","items":{"type":"object","properties":{"packageId":{"type":"string"},"packageName":{"type":"string"},"displayName":{"type":"string","description":"Store-configured name; falls back to packageName"},"description":{"type":"string","nullable":true},"price":{"type":"number","description":"Deprecated. Same value as maxPrice."},"minPrice":{"type":"number"},"maxPrice":{"type":"number"},"minMrp":{"type":"number","nullable":true},"maxMrp":{"type":"number","nullable":true},"tat":{"type":"number","description":"Turnaround time in hours"},"sampleType":{"type":"array","items":{"type":"string"}},"tests":{"type":"array","items":{"type":"object","properties":{"testName":{"type":"string"},"lsTestId":{"type":"string"}}}},"tags":{"type":"array","items":{"type":"object","properties":{"tagId":{"type":"number"},"tagName":{"type":"string"},"categoryId":{"type":"number"},"categoryName":{"type":"string"}}}}}}},"superPackages":{"type":"array","items":{"type":"object"},"description":"Super-packages (bundles of packages); shape mirrors packages."}}},"example":{"status":"success","count":2,"packages":[{"packageId":"LSP10023","packageName":"Renal Profile","displayName":"Renal Supreme","description":null,"price":3800,"minPrice":3200,"maxPrice":3800,"minMrp":null,"maxMrp":null,"tat":24,"sampleType":["Blood","Urine","Stool"],"tests":[{"testName":"Creatine","lsTestId":"LS120021"},{"testName":"Urea","lsTestId":"LS120022"}],"tags":[{"tagId":2,"tagName":"Kidney","categoryId":1,"categoryName":"Organ"},{"tagId":6,"tagName":"Exercise","categoryId":3,"categoryName":"Lifestyle"}]},{"packageId":"LSP10024","packageName":"Comprehensive Metabolic Panel","displayName":"Comprehensive Metabolic Panel","description":"This package is great!","price":5000,"minPrice":5000,"maxPrice":5000,"minMrp":null,"maxMrp":null,"tat":48,"sampleType":["Serum"],"tests":[{"testName":"TSH","lsTestId":"LS120023"},{"testName":"T4","lsTestId":"LS120024"}],"tags":[]}],"superPackages":[]}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"}},"parameters":[{"in":"query","name":"pincode","required":false,"description":"Optional. Filter to packages offered by labs servicing this pincode. Response may be delayed while checking with labs.","example":"560035","schema":{"type":"string"}},{"in":"query","name":"latitude","required":false,"description":"Optional. Filter to packages offered by labs servicing this lat/long.","example":"13.045163","schema":{"type":"string"}},{"in":"query","name":"longitude","required":false,"description":"Optional. Filter to packages offered by labs servicing this lat/long.","example":"77.537758","schema":{"type":"string"}},{"in":"query","name":"labIds","required":false,"description":"Optional. Comma-separated lab ids (as returned by List labs). Only packages offered by these labs are returned. Every id must be a lab in your store network, otherwise the request fails. A lab that is in your network but temporarily unavailable is accepted and simply contributes no packages, so the response can be empty rather than an error.","example":"32632,56","schema":{"type":"string"}}],"description":"Lists packages and super-packages with price ranges, filtered by serviceable location. Optionally restrict the results to packages offered by specific labs via `labIds`. Filters combine, so a package is only returned if it is offered by a lab that satisfies every filter supplied. `packages` and `super-packages` are matched independently, so both fields are always present in a success response - either may be empty while the other is not.\n"}},"/api/v1.3/network/getPackageTags":{"get":{"tags":["Network"],"summary":"List package tags","security":[{"ApiKeyAuth":[]}],"responses":{"200":{"description":"Package tags","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["success","failure"],"example":"success"},"tags":{"type":"array","items":{"type":"object","properties":{"tagId":{"type":"number"},"tagName":{"type":"string"},"categoryId":{"type":"number"},"categoryName":{"type":"string"}}}}}},"example":{"status":"success","tags":[{"tagId":2,"tagName":"Kidney","categoryId":1,"categoryName":"Organ"},{"tagId":6,"tagName":"Exercise","categoryId":3,"categoryName":"Lifestyle"}]}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"}},"description":"Returns all package tags/categories available to the store."}},"/api/v1.3/network/getPackagePreparations":{"get":{"tags":["Network"],"summary":"Get package preparations","security":[{"ApiKeyAuth":[]}],"responses":{"200":{"description":"Package preparations","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","example":"success"},"preparations":{"type":"string","description":"Comma-separated list of preparation phrases"}}},"example":{"status":"success","preparations":"Fasting for 12 hours, Stop cholesterol medicines"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"}},"parameters":[{"in":"query","name":"packageId","required":true,"description":"Package id to fetch preparations for (e.g. LSP10001). Deprecated - preparations are also provided via getPackage.","example":"LSP10001","schema":{"type":"string"}}],"description":"Returns comma-joined preparation instructions for a package."}},"/api/v1.3/network/getPackage":{"get":{"tags":["Network"],"summary":"Get package details","security":[{"ApiKeyAuth":[]}],"responses":{"200":{"description":"Package details","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["success","failure"],"example":"success"},"packageId":{"type":"string"},"packageName":{"type":"string"},"displayName":{"type":"string","description":"Store-configured name; falls back to packageName"},"description":{"type":"string","nullable":true},"price":{"type":"number","description":"Max price charged for this package across labs"},"mrp":{"type":"number","nullable":true,"description":"Default MRP configured in LabStack; null if none"},"tat":{"type":"integer","nullable":true,"description":"Turnaround time in hours"},"isHomeSampleSupported":{"type":"boolean"},"isCenterVisitSupported":{"type":"boolean"},"isKitBasedSupported":{"type":"boolean"},"sampleTypes":{"type":"array","items":{"type":"string"},"description":"Sample types across all tests in the package"},"tests":{"type":"array","items":{"type":"object","properties":{"testName":{"type":"string"},"lsTestId":{"type":"string"}}}},"labs":{"type":"array","description":"Labs in the store network supporting the package (filtered by location if provided).","items":{"type":"object","properties":{"labName":{"type":"string"},"labLogo":{"type":"string","nullable":true},"lsLabId":{"type":"number"},"lsChainId":{"type":"number","nullable":true},"mrp":{"type":"number","description":"MRP for this package at this lab (store MRP, may be lab-overridden)"},"price":{"type":"number","description":"Store's cost for this package at this lab"},"labMrp":{"type":"number","nullable":true,"description":"Lab's own consumer MRP, or null if not configured"},"sampleReportUrl":{"type":"string","nullable":true},"isHomeSampleSupported":{"type":"boolean"},"isCenterVisitSupported":{"type":"boolean"},"distance":{"type":"number","nullable":true,"description":"Only when a location is given; null if the lab has no center visit"},"requiredParameters":{"type":"array","description":"Individual parameters expected in the lab report for this package (requires configuration).","items":{"type":"object","properties":{"testName":{"type":"string"},"lsTestId":{"type":"string"}}}}}}},"tags":{"type":"array","items":{"type":"object","properties":{"tagId":{"type":"number"},"tagName":{"type":"string"},"categoryId":{"type":"number"},"categoryName":{"type":"string"}}}},"preparations":{"type":"array","items":{"type":"string"},"description":"Preparations to do before sample collection"}}},"example":{"status":"success","packageId":"LSP10001","packageName":"Liver Function Test","displayName":"Liver Care","description":null,"price":3800,"mrp":null,"tat":24,"isHomeSampleSupported":true,"isCenterVisitSupported":true,"isKitBasedSupported":false,"sampleTypes":["Blood"],"tests":[{"testName":"Creatine","lsTestId":"LS120021"},{"testName":"Urea","lsTestId":"LS120022"}],"labs":[{"labName":"Healthians","labLogo":"www.image.com","lsLabId":3,"lsChainId":null,"mrp":4000,"price":3200,"labMrp":null,"sampleReportUrl":null,"isHomeSampleSupported":true,"isCenterVisitSupported":false,"distance":2.00032,"requiredParameters":[{"testName":"Bilirubin Direct","lsTestId":"LSL100108"},{"testName":"Bilirubin Total","lsTestId":"LSL100109"},{"testName":"Bilirubin Indirect","lsTestId":"LSL101495"}]},{"labName":"Orange Health","labLogo":null,"lsLabId":16,"lsChainId":2,"mrp":4200,"price":3800,"labMrp":5000,"sampleReportUrl":"https://console.labstack.in/api/v1.3/network/getSampleReport?packageLsId=LSP10001&labId=3","isHomeSampleSupported":true,"isCenterVisitSupported":true,"distance":3.2323,"requiredParameters":[{"testName":"Bilirubin Direct","lsTestId":"LSL100108"},{"testName":"Bilirubin Total","lsTestId":"LSL100109"}]}],"tags":[{"tagId":2,"tagName":"Kidney","categoryId":1,"categoryName":"Organ"},{"tagId":6,"tagName":"Exercise","categoryId":3,"categoryName":"Lifestyle"}],"preparations":["Fasting for 12 hours","Stop cholesterol medicines"]}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"}},"parameters":[{"in":"query","name":"packageId","required":true,"description":"The LS id of the package to fetch (e.g. LSP10023).","example":"LSP10023","schema":{"type":"string"}},{"in":"query","name":"pincode","required":false,"description":"Optional. Filter labs servicing this pincode; adds distance for center-visit labs.","example":"560035","schema":{"type":"string"}},{"in":"query","name":"latitude","required":false,"description":"Optional. Filter labs servicing this lat/long; adds distance for center-visit labs.","example":"13.045163","schema":{"type":"string"}},{"in":"query","name":"longitude","required":false,"description":"Optional. Filter labs servicing this lat/long; adds distance for center-visit labs.","example":"77.537758","schema":{"type":"string"}}],"description":"Returns a single package with per-lab pricing and serviceability."}},"/api/v1.3/network/getLabs":{"get":{"tags":["Network"],"summary":"List labs","security":[{"ApiKeyAuth":[]}],"responses":{"200":{"description":"Store labs","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["success","failure"],"example":"success"},"labs":{"type":"array","items":{"type":"object","properties":{"labName":{"type":"string"},"labLogo":{"type":"string","nullable":true},"labId":{"type":"number"},"lsChainId":{"type":"number","nullable":true,"description":"Null if the lab is not part of a chain"},"type":{"type":"string","enum":["COLLECTION_CENTER","DIAGNOSTIC_CENTER"]},"address":{"type":"string"},"locality":{"type":"string","nullable":true},"city":{"type":"string"},"state":{"type":"string"},"pincode":{"type":"string"},"latitude":{"type":"number"},"longitude":{"type":"number"},"packages":{"type":"array","description":"Store-network packages supported by this lab.","items":{"type":"object","properties":{"lsId":{"type":"string"},"name":{"type":"string"}}}}}}}}},"example":{"status":"success","labs":[{"labName":"Prima Diagnostics - Jayanagar","labLogo":"www.image.com","labId":32632,"lsChainId":12,"type":"COLLECTION_CENTER","address":"435, 3rd Main, 4th T Block","locality":"Jayanagar","city":"Bangalore","state":"Karnataka","pincode":"560035","latitude":13.275472,"longitude":77.2323213,"packages":[{"lsId":"LSP10019","name":"Comprehensive Allergy Panel"},{"lsId":"LSP10003","name":"Advanced Package"},{"lsId":"LSP10020","name":"Disease Risk Screening Package"}]},{"labName":"Spectrum Diagnostics","labLogo":null,"labId":56,"lsChainId":null,"type":"DIAGNOSTIC_CENTER","address":"31, Dr Rajkumar Road","locality":"Rajajinagar","city":"Bangalore","state":"Karnataka","pincode":"560010","latitude":13.03375432,"longitude":78.2323993,"packages":[{"lsId":"LSP10029","name":"LS Busy Professional"},{"lsId":"LSP10003","name":"Advanced Package"}]}]}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"}},"parameters":[{"in":"query","name":"labIds","required":false,"description":"Optional. Only fetch the labs with these comma-separated lab ids.","example":"32632,56","schema":{"type":"string"}}],"description":"Returns labs active for the store, with per-store packages and chain info."}},"/api/v1.3/network/getDiscounts":{"get":{"tags":["Network"],"summary":"List store discounts","security":[{"ApiKeyAuth":[]}],"responses":{"200":{"description":"Store discounts","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["success","failure"],"example":"success"},"discounts":{"type":"array","items":{"type":"object","properties":{"discountId":{"type":"string"},"name":{"type":"string"},"description":{"type":"string","nullable":true},"type":{"type":"string"},"percentage":{"type":"number","nullable":true},"maxAmount":{"type":"number","nullable":true},"amount":{"type":"number","nullable":true},"conditions":{"type":"array","description":"Optional conditions of varying types (e.g. MIN_CART_VALUE, COUPON_CODE, CART_VALUE_BETWEEN).","items":{"type":"object"}},"validFrom":{"type":"string","nullable":true},"validUntil":{"type":"string","nullable":true},"labMode":{"type":"string","enum":["WHITELIST","BLACKLIST"]},"packageMode":{"type":"string","enum":["WHITELIST","BLACKLIST"]},"testMode":{"type":"string","enum":["WHITELIST","BLACKLIST"]},"selectedLabIds":{"type":"array","items":{"type":"number"}},"selectedPackageLsIds":{"type":"array","items":{"type":"string"}},"selectedTestLsIds":{"type":"array","items":{"type":"string"}},"buyXGetY":{"type":"object","nullable":true,"properties":{"rewardProducts":{"type":"array","items":{"type":"object","properties":{"lsId":{"type":"string"},"name":{"type":"string"},"type":{"type":"string"}}}},"rewardType":{"type":"string","enum":["FREE","DISCOUNTED"]},"rewardDiscountPercentage":{"type":"number"},"rewardQuantity":{"type":"number"}}},"maxUsageTotal":{"type":"number","nullable":true},"maxUsagePerMobile":{"type":"number","nullable":true}}}}}},"example":{"status":"success","discounts":[{"discountId":"DISC10001","name":"Summer Sale","description":"Flat 10% off on all packages","type":"PERCENTAGE","percentage":10,"maxAmount":500,"amount":null,"conditions":[{"type":"MIN_CART_VALUE","value":200},{"type":"COUPON_CODE","value":"SUMMER100"}],"validFrom":"2025-06-01T00:00:00.000Z","validUntil":"2025-08-31T23:59:59.000Z","labMode":"BLACKLIST","packageMode":"WHITELIST","testMode":"BLACKLIST","selectedLabIds":[],"selectedPackageLsIds":["LSP10023","LSP10024"],"selectedTestLsIds":[],"buyXGetY":null,"maxUsageTotal":1000,"maxUsagePerMobile":1}]}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"}},"description":"Returns active discounts for the store (incl. buy-X-get-Y offers, validity, and selection modes)."}},"/api/v1.3/camp/placeCampOrder":{"post":{"tags":["Camp"],"summary":"Place a camp order","security":[{"ApiKeyAuth":[]}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["success","failure"],"example":"success"},"order":{"type":"object","properties":{"campLsId":{"type":"string"},"orderId":{"type":"number"},"preparations":{"type":"array","items":{"type":"string"},"description":"Preparations to do before sample collection"},"orderStatus":{"type":"string","enum":["PENDING","CREATED","ORDER_SCHEDULED","PHLEBO_ASSIGNED","SAMPLE_COLLECTED","SAMPLE_IN_TRANSIT","SAMPLE_DELIVERED","SAMPLE_PROCESSED","CANCELED","RESCHEDULED","REPORT_PARTIAL","REPORT_DELIVERED"]},"labApiError":{"type":"string","nullable":true,"description":"Error string from the lab, or null"}}}}},"example":{"status":"success","order":{"campLsId":"CMP100012","orderId":47590,"preparations":["Fasting for 12 hours"],"orderStatus":"CREATED","labApiError":null}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["campLsId","appointment","name","email","gender","mobile"],"properties":{"campLsId":{"type":"string","description":"LS id of the camp to place the order in."},"isVip":{"type":"boolean","description":"Optional. Marks the order as VIP."},"referenceId":{"type":"string","description":"Optional. Your own reference id for the order."},"packageIds":{"type":"array","items":{"type":"string"},"description":"LS package ids (e.g. LSP11002). Provide packageIds and/or testIds."},"testIds":{"type":"array","items":{"type":"string"},"description":"LS test ids (e.g. LSL110001). Provide packageIds and/or testIds."},"appointment":{"type":"string","format":"date-time","description":"Appointment date-time, ISO 8601 format. Must match a generated camp slot."},"notes":{"type":"string","description":"Optional. Free-text notes for the order."},"uniqueId":{"type":"string","description":"Optional. Uniquely identifies the user; auto-generated ({mobile}-{name}) when omitted."},"name":{"type":"string","description":"Consumer name."},"email":{"type":"string","description":"Consumer email address."},"dateOfBirth":{"type":"string","description":"YYYY-MM-DD. Required if age is not provided."},"age":{"type":"number","description":"Consumer age. Required if dateOfBirth is not provided."},"gender":{"type":"string","enum":["MALE","FEMALE","OTHERS"],"description":"Consumer gender."},"mobile":{"type":"string","description":"10 digits, cannot start with 0."},"altContact":{"type":"string","description":"Optional. Alternate 10-digit contact number."},"mainUserUniqueId":{"type":"string","description":"Optional. uniqueId of the main user to mark this user as a dependent."},"relationship":{"type":"string","description":"Optional. Dependent's relationship to the main user. Defaults to OTHER.","enum":["OTHER","HUSBAND","WIFE","FATHER","MOTHER","SON","DAUGHTER","GRANDFATHER","GRANDMOTHER","GRANDSON","GRANDDAUGHTER","SON_IN_LAW","DAUGHTER_IN_LAW","BROTHER","SISTER","BROTHER_IN_LAW","SISTER_IN_LAW","UNCLE","AUNT","COUSIN","NEPHEW","NIECE","MOTHER_IN_LAW","FATHER_IN_LAW","PARTNER","FRIEND","NEIGHBOUR"]}}},"example":{"campLsId":"CMP100012","isVip":true,"referenceId":"REF-123","packageIds":["LSP11002","LSP11004"],"testIds":["LSL110001","LSL120031"],"appointment":"2025-06-01T11:00:00+05:30","notes":"Patient is old, veins are thin.","uniqueId":"U1234","name":"Bob Smith","email":"bobsmith@example.com","dateOfBirth":"2000-01-01","gender":"MALE","mobile":"8047359194","altContact":"8047359194","mainUserUniqueId":"U1233","relationship":"BROTHER"}}}},"description":"Places an order against a health camp (validates the appointment slot against the camp's generated slots). uniqueId is optional (auto-generated when omitted).\n"}},"/api/v1.3/camp/getCamps":{"get":{"tags":["Camp"],"summary":"List camps","security":[{"ApiKeyAuth":[]}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["success","failure"],"example":"success"},"camps":{"type":"array","items":{"type":"object","properties":{"campLsId":{"type":"string"},"corporateName":{"type":"string"},"dates":{"type":"array","items":{"type":"string"},"description":"Camp dates (YYYY-MM-DD)"},"numOrders":{"type":"number"},"labName":{"type":"string"},"labLogo":{"type":"string","nullable":true},"lsLabId":{"type":"number"},"lsChainId":{"type":"number","nullable":true},"campStatus":{"type":"string","enum":["ONGOING","COMPLETED","REPORTS_DELIVERED","CANCELLED"]}}}}}},"example":{"status":"success","camps":[{"campLsId":"CMP10031","corporateName":"ABC 123","dates":["2025-02-14","2025-02-15"],"numOrders":43,"labName":"Orange Health - Bangalore","labLogo":null,"lsLabId":4,"lsChainId":2,"campStatus":"COMPLETED"},{"campLsId":"CMP10033","corporateName":"ABC 124","dates":["2025-03-04","2025-03-05"],"numOrders":27,"labName":"RedCliffe","labLogo":null,"lsLabId":2,"lsChainId":null,"campStatus":"REPORTS_DELIVERED"}]}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"}},"parameters":[{"in":"query","name":"startDate","required":false,"description":"Optional. Filter camps conducted on or after this date (YYYY-MM-DD).","example":"2025-02-01","schema":{"type":"string"}},{"in":"query","name":"endDate","required":false,"description":"Optional. Filter camps conducted on or before this date (YYYY-MM-DD).","example":"2025-03-31","schema":{"type":"string"}}],"description":"Lists the store's camps, optionally filtered by date range."}},"/api/v1.3/camp/getCampSlots":{"get":{"tags":["Camp"],"summary":"Get camp slots","security":[{"ApiKeyAuth":[]}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["success","failure"],"example":"success"},"slotsByDate":{"type":"array","description":"Available slots per camp date. Dates/times with no availability are filtered out.","items":{"type":"object","properties":{"date":{"type":"string","description":"YYYY-MM-DD"},"slots":{"type":"array","items":{"type":"object","properties":{"time":{"type":"string","description":"HH:MM (24-hour)"},"available":{"type":"number"},"capacity":{"type":"number"}}}}}}}}},"example":{"status":"success","slotsByDate":[{"date":"2025-09-29","slots":[{"time":"06:00","available":3,"capacity":5},{"time":"06:15","available":4,"capacity":5},{"time":"06:30","available":5,"capacity":5}]},{"date":"2025-09-30","slots":[{"time":"06:00","available":4,"capacity":5},{"time":"06:15","available":5,"capacity":5},{"time":"06:45","available":5,"capacity":5}]}]}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"}},"parameters":[{"in":"query","name":"campLsId","required":true,"description":"LS id of the camp to fetch slots for.","example":"CMP10024","schema":{"type":"string"}}],"description":"Returns generated slot availability per camp date."}},"/api/v1.3/camp/getCampDetails":{"get":{"tags":["Camp"],"summary":"Get camp details","security":[{"ApiKeyAuth":[]}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["success","failure"],"example":"success"},"campDetails":{"type":"object","properties":{"campLsId":{"type":"string"},"corporateName":{"type":"string"},"dates":{"type":"array","items":{"type":"string"}},"orders":{"type":"array","items":{"type":"number"},"description":"Order ids associated with the camp"},"address":{"type":"string"},"locality":{"type":"string","nullable":true},"city":{"type":"string"},"state":{"type":"string"},"pincode":{"type":"string"},"phlebos":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"mobile":{"type":"string"},"altMobile":{"type":"string","nullable":true},"email":{"type":"string","nullable":true}}}},"labCoordinators":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"mobile":{"type":"string"},"altMobile":{"type":"string","nullable":true},"email":{"type":"string","nullable":true}}}},"labEscalators":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"mobile":{"type":"string"},"altMobile":{"type":"string","nullable":true},"email":{"type":"string","nullable":true}}}},"labName":{"type":"string"},"labLogo":{"type":"string","nullable":true},"lsLabId":{"type":"number"},"lsChainId":{"type":"number","nullable":true},"notes":{"type":"string","nullable":true},"campStatus":{"type":"string","enum":["ONGOING","COMPLETED","REPORTS_DELIVERED","CANCELLED"]}}}}},"example":{"status":"success","campDetails":{"campLsId":"CMP10024","corporateName":"XYZ 123","dates":["2025-01-24","2025-01-25"],"orders":[1003,1004,1005,1006,1007,1008,1009,1010],"address":"123 Main Road","locality":null,"city":"Bangalore","state":"Karnataka","pincode":"560013","phlebos":[{"name":"Bob Smith","mobile":"8047359194","altMobile":null,"email":null}],"labCoordinators":[{"name":"Bob Smith","mobile":"8047359194","altMobile":null,"email":"bobsmith@example.com"}],"labEscalators":[{"name":"Bob Smith","mobile":"8047359194","altMobile":null,"email":"bobsmith@example.com"}],"labName":"Orange Health - Bangalore","labLogo":null,"lsLabId":4,"lsChainId":2,"notes":"Went well","campStatus":"REPORTS_DELIVERED"}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"}},"parameters":[{"in":"query","name":"campLsId","required":true,"description":"LS id of the camp to fetch details for.","example":"CMP10024","schema":{"type":"string"}}],"description":"Returns full detail for one health camp (corporate, dates, phlebos, coordinators, lab, orders)."}},"/api/v1.3/availability/getSlots":{"get":{"tags":["Availability"],"summary":"Get lab slots","security":[{"ApiKeyAuth":[]}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["success","failure"],"example":"success"},"message":{"type":"string","description":"Number of labs and slots found"},"pincode":{"type":"string","nullable":true,"description":"The pincode being serviced"},"latitude":{"type":"number","description":"The latitude being serviced"},"longitude":{"type":"number","description":"The longitude being serviced"},"date":{"type":"string","description":"Date being checked (YYYY-MM-DD)"},"slots":{"type":"array","items":{"type":"object","properties":{"labName":{"type":"string"},"labLogo":{"type":"string","nullable":true},"lsLabId":{"type":"number"},"lsChainId":{"type":"number","nullable":true},"service":{"type":"string","enum":["HOME_SAMPLE","CENTER_VISIT"]},"timing":{"type":"array","items":{"type":"string"},"description":"Available slot times in HH:MM (24-hour)"},"distance":{"type":"number","nullable":true,"description":"Distance in KM. Only for center-visit labs; absent/null for home-sample labs."}}}}}},"example":{"status":"success","message":"2 labs and 8 slots found","pincode":"560035","latitude":13.045163,"longitude":77.537758,"date":"2026-08-01","slots":[{"labName":"Lab name 1","labLogo":"www.image.com","lsLabId":347484,"lsChainId":4,"service":"HOME_SAMPLE","timing":["08:15","09:15","09:45","14:00"]},{"labName":"Lab name 2","labLogo":null,"lsLabId":347485,"lsChainId":null,"service":"CENTER_VISIT","timing":["10:15","11:30","12:45","15:00"],"distance":83.01323}]}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"}},"parameters":[{"in":"query","name":"date","required":true,"description":"Date to fetch slots for, in YYYY-MM-DD format.","example":"2026-08-01","schema":{"type":"string"}},{"in":"query","name":"pincode","required":false,"description":"Optional. The pincode to check for availability. Required if no latitude/longitude given. 6 digits exactly.","example":"560035","schema":{"type":"string"}},{"in":"query","name":"latitude","required":false,"description":"Optional. Required if no pincode given. -90 <= latitude <= 90.","example":"13.045163","schema":{"type":"string"}},{"in":"query","name":"longitude","required":false,"description":"Optional. Required if no pincode given. -180 <= longitude <= 180.","example":"77.537758","schema":{"type":"string"}},{"in":"query","name":"service","required":false,"description":"Optional. Filter for slots by labs of a particular order type.","schema":{"type":"string","enum":["HOME_SAMPLE","CENTER_VISIT"]}},{"in":"query","name":"range","required":false,"description":"Optional. Range in KM of labs to fetch center-visit slots for. Defaults to 10 Km (max 100 Km).","schema":{"type":"string"}},{"in":"query","name":"labId","required":false,"description":"Optional. Single lab id to fetch slots for.","schema":{"type":"string"}},{"in":"query","name":"labIds","required":false,"description":"Optional. Comma-separated list of lab ids to fetch slots for (only included if they meet the other filters).","schema":{"type":"string"}},{"in":"query","name":"testIds","required":false,"description":"Optional. For center-visit slots, the comma-separated LS test ids that will be selected.","example":"LSL110001","schema":{"type":"string"}},{"in":"query","name":"packageIds","required":false,"description":"Optional. For center-visit slots, the comma-separated LS package ids that will be selected.","example":"LSP11002","schema":{"type":"string"}}],"description":"Returns available appointment slots per lab for a date. Provide pincode OR latitude+longitude.\n"}},"/api/v1.3/availability/checkServiceability":{"get":{"tags":["Availability"],"summary":"Check serviceability","security":[{"ApiKeyAuth":[]}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["success","failure"],"example":"success"},"message":{"type":"string","description":"Success detail (e.g. \"8 labs found\") or reason for failure"},"pincode":{"type":"string","nullable":true,"description":"The pincode being serviced"},"latitude":{"type":"number","description":"The latitude being serviced"},"longitude":{"type":"number","description":"The longitude being serviced"},"labs":{"type":"array","items":{"type":"object","properties":{"type":{"type":"array","items":{"type":"string","enum":["HOME_SAMPLE","CENTER_VISIT"]}},"labName":{"type":"string"},"lsLabId":{"type":"number"},"lsChainId":{"type":"number","nullable":true,"description":"Null if the lab is not part of a chain"}}}}}},"example":{"status":"success","message":"2 labs found","pincode":"560035","latitude":13.045163,"longitude":77.537758,"labs":[{"type":["HOME_SAMPLE","CENTER_VISIT"],"labName":"Lab name 1","lsLabId":347484,"lsChainId":1},{"type":["CENTER_VISIT"],"labName":"Lab name 2","lsLabId":46575,"lsChainId":null}]}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"}},"parameters":[{"in":"query","name":"pincode","required":false,"description":"Optional. The pincode to check for service availability. Required if no latitude/longitude given. 6 digits exactly.","example":"560035","schema":{"type":"string"}},{"in":"query","name":"latitude","required":false,"description":"Optional. Latitude to check for service availability. Required if no pincode given. -90 <= latitude <= 90.","example":"13.045163","schema":{"type":"string"}},{"in":"query","name":"longitude","required":false,"description":"Optional. Longitude to check for service availability. Required if no pincode given. -180 <= longitude <= 180.","example":"77.537758","schema":{"type":"string"}},{"in":"query","name":"unitFloorBuilding","required":false,"description":"Optional. Ignored if latitude and longitude are present. Will not be used to fetch lat/long. Pincode must be present to be used.","schema":{"type":"string"}},{"in":"query","name":"address","required":false,"description":"Optional. Ignored if latitude and longitude are present. Pincode must be present to be used.","schema":{"type":"string"}},{"in":"query","name":"locality","required":false,"description":"Optional. Ignored if latitude and longitude are present. Pincode must be present to be used.","schema":{"type":"string"}},{"in":"query","name":"city","required":false,"description":"Optional. Ignored if latitude and longitude are present. Pincode must be present to be used.","schema":{"type":"string"}},{"in":"query","name":"state","required":false,"description":"Optional. Ignored if latitude and longitude are present. Pincode must be present to be used.","schema":{"type":"string"}},{"in":"query","name":"testIds","required":false,"description":"Optional. Only check serviceability for labs that offer the given tests. Comma-separated LS test ids.","example":"LSL110001,LSL120031","schema":{"type":"string"}},{"in":"query","name":"packageIds","required":false,"description":"Optional. Only check serviceability for labs that offer the given packages. Comma-separated LS package ids.","example":"LSP11002,LSP11004","schema":{"type":"string"}}],"description":"Finds store-network labs that service a location (home-sample and center-visit). Provide pincode OR latitude+longitude.\n"}},"/api/v1.3/admin/status":{"get":{"tags":["Admin"],"summary":"Service health check","security":[{"ApiKeyAuth":[]}],"responses":{"200":{"description":"Service healthy","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["success","failure"],"example":"success"},"healthy":{"type":"boolean","example":true,"description":"Whether all systems are active and working as expected"}}},"example":{"status":"success","healthy":true}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"503":{"description":"Service unhealthy"}},"description":"Verifies database connectivity."}},"/api/v1.3/admin/getBalance":{"get":{"tags":["Admin"],"summary":"Get wallet balance","security":[{"ApiKeyAuth":[]}],"responses":{"200":{"description":"Wallet balance","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["success","failure"],"example":"success"},"walletBalance":{"type":"integer","example":0,"description":"The store wallet balance"}}},"example":{"status":"success","walletBalance":0}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"}},"description":"Returns the store's LabStack wallet balance (currently a stub returning 0)."}}}}