{"openapi":"3.0.0","info":{"title":"Provider API","version":"1.0.19","description":"API for integrating telehealth and in-person provider consultations — speciality discovery, provider search, appointment booking, document management, and video consultations. All requests must include a valid `ls-api-key` header.","contact":{"name":"LabStack Support","url":"https://console.labstack.in"}},"servers":[{"url":"https://integration.labstack.in"}],"security":[{"ApiKeyAuth":[]}],"components":{"securitySchemes":{"ApiKeyAuth":{"type":"apiKey","in":"header","name":"ls-api-key","description":"API key issued by LabStack. Pass this in every request header."}},"schemas":{"ErrorResponse":{"type":"object","properties":{"status":{"type":"string","enum":["failure"],"example":"failure"},"error":{"type":"string","example":"Authorisation failed - API Key not present in HTTP Header."}},"required":["status","error"]}},"responses":{"Unauthorized":{"description":"Unauthorized — API key missing or invalid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"BadRequest":{"description":"Bad request — missing or invalid parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"paths":{"/api/v1.0/network/getProviderDetails":{"get":{"tags":["Network"],"summary":"Get provider details","security":[{"ApiKeyAuth":[]}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","example":"success"},"provider":{"type":"object","nullable":true,"description":"Present when lsProviderId was given","properties":{"type":{"type":"string"},"specialities":{"type":"array","items":{"type":"string"}},"subspecialities":{"type":"array","items":{"type":"string"}},"tags":{"type":"array","items":{"type":"object","properties":{"category":{"type":"string"},"name":{"type":"string"}}}},"supportedAppointmentTypes":{"type":"array","items":{"type":"string","enum":["ONLINE","CENTER_VISIT","HOME_VISIT"]}},"providerName":{"type":"string"},"gender":{"type":"string","enum":["MALE","FEMALE","OTHERS"]},"lsId":{"type":"integer"},"unitFloorBuilding":{"type":"string","nullable":true},"address":{"type":"string"},"locality":{"type":"string","nullable":true},"city":{"type":"string"},"state":{"type":"string"},"pincode":{"type":"string"},"latitude":{"type":"number"},"longitude":{"type":"number"}}},"providerGroup":{"type":"object","nullable":true,"description":"Present when lsGroupId was given instead","properties":{"type":{"type":"string"},"supportedAppointmentTypes":{"type":"array","items":{"type":"string"}},"specialities":{"type":"array","items":{"type":"string"}},"subspecialities":{"type":"array","items":{"type":"string"}},"groupName":{"type":"string"},"lsGroupId":{"type":"integer"}}},"rating":{"type":"number","nullable":true,"description":"Average provider rating (1-5)"},"totalRatings":{"type":"integer","description":"Total number of ratings received"},"followUpDays":{"type":"integer","nullable":true,"minimum":0,"description":"Free follow-up window (days); null if not configured for this speciality"},"followupUntil":{"type":"string","nullable":true,"description":"Deadline until which a follow-up is valid; null if not available"}}},"example":{"status":"success","provider":{"type":"DOCTOR","specialities":[],"subspecialities":[],"tags":[{"category":"Symptom","name":"Bleeding"},{"category":"Organ","name":"Heart"}],"supportedAppointmentTypes":["ONLINE","CENTER_VISIT"],"providerName":"Dr. John Doe","gender":"MALE","lsId":347484,"unitFloorBuilding":"Tower 3, floor 5","address":"Main Street, 3rd Cross","locality":"District Square","city":"Bangalore","state":"Karnataka","pincode":"560013","latitude":13.045163,"longitude":77.537758},"providerGroup":null,"rating":4.3,"totalRatings":28,"followUpDays":14,"followupUntil":"2025-06-15T05:30:00.000Z"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"}},"parameters":[{"in":"query","name":"lsProviderId","required":true,"schema":{"type":"integer","example":42}},{"in":"query","name":"procedureId","schema":{"type":"integer"}}],"description":"Returns a single provider profile (specialities, sub-specialities, tags, follow-up days) plus a computed next available slot (30-day forward search).\n"}},"/api/v1.0/availability/getSpecialities":{"get":{"tags":["Availability"],"summary":"List specialities","security":[{"ApiKeyAuth":[]}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","example":"success"},"specialities":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"providerCount":{"type":"integer","description":"Number of providers of this provider type mapped to the store for this speciality"},"subSpecialities":{"type":"array","items":{"type":"string"}},"tags":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"category":{"type":"string"}}}}}}}}},"example":{"status":"success","specialities":[{"name":"Blood","providerCount":3,"subSpecialities":["Transfusion","Bone Marrow"],"tags":[{"category":"Symptom","name":"Bleeding"},{"category":"Symptom","name":"Coughing Blood"},{"category":"Organ","name":"Heart"}]},{"name":"Neurology","providerCount":1,"subSpecialities":["Epilepsy","Behavioral Neurology","Headache"],"tags":[]},{"name":"Muscular","providerCount":2,"subSpecialities":[],"tags":[{"category":"Organ","name":"Brain"}]}]}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"}},"parameters":[{"in":"query","name":"providerType","required":true,"schema":{"type":"string","example":"Doctor"}},{"in":"query","name":"tags","description":"Comma-separated list of tag names","schema":{"type":"string"}}],"description":"Lists specialities (with sub-specialities and merged tags) for a provider type."}},"/api/v1.0/availability/getProviders":{"get":{"tags":["Availability"],"summary":"Search providers","security":[{"ApiKeyAuth":[]}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","example":"success"},"total":{"type":"integer"},"perPage":{"type":"integer"},"page":{"type":"integer"},"isLastPage":{"type":"boolean"},"latitude":{"type":"number","nullable":true},"longitude":{"type":"number","nullable":true},"providers":{"type":"array","items":{"type":"object","properties":{"lsId":{"type":"integer"},"type":{"type":"string","description":"Provider type (see appendix)"},"specialities":{"type":"array","items":{"type":"string"}},"subSpecialities":{"type":"array","items":{"type":"string"}},"tags":{"type":"array","items":{"type":"object","properties":{"category":{"type":"string"},"name":{"type":"string"}}}},"supportedAppointmentTypes":{"type":"array","items":{"type":"string","enum":["ONLINE","CENTER_VISIT","HOME_VISIT"]}},"languagesKnown":{"type":"array","items":{"type":"string"}},"name":{"type":"string"},"gender":{"type":"string","enum":["MALE","FEMALE","OTHERS"]},"yearsExperience":{"type":"integer","nullable":true},"hasRecentAppointment":{"type":"boolean","description":"Only present when userUniqueId is supplied"},"followUpDays":{"type":"integer","nullable":true,"minimum":0,"description":"Days of free follow-up offered after the appointment; null if not configured"},"followUpUntil":{"type":"string","nullable":true,"description":"Only present when userUniqueId is supplied"},"recentAppointments":{"type":"array","description":"Only present when userUniqueId is supplied","items":{"type":"object","properties":{"appointmentId":{"type":"integer"},"appointmentDate":{"type":"string"},"appointmentType":{"type":"string"},"appointmentStatus":{"type":"string"}}}},"profileUrl":{"type":"string","nullable":true},"rating":{"type":"number"},"totalRatings":{"type":"integer"},"unitFloorBuilding":{"type":"string","nullable":true},"address":{"type":"string"},"locality":{"type":"string","nullable":true},"city":{"type":"string"},"state":{"type":"string"},"pincode":{"type":"string"},"latitude":{"type":"number"},"longitude":{"type":"number"},"distance":{"type":"number","nullable":true,"description":"Null if not a CENTER_VISIT appointment type"}}}},"providerGroups":{"type":"array","description":"Provider groups servicing the location. specialities/subSpecialities/tags are the union across all providers in the group.","items":{"type":"object","properties":{"type":{"type":"string"},"supportedAppointmentTypes":{"type":"array","items":{"type":"string"}},"specialities":{"type":"array","items":{"type":"string"}},"subSpecialities":{"type":"array","items":{"type":"string"}},"tags":{"type":"array","items":{"type":"object"}},"groupName":{"type":"string"},"lsGroupId":{"type":"integer"}}}}}},"example":{"status":"success","total":2,"perPage":200,"page":1,"isLastPage":true,"latitude":13.045163,"longitude":77.537758,"providers":[{"lsId":347484,"type":"DOCTOR","specialities":["General Physician"],"subSpecialities":[],"tags":[{"category":"Symptom","name":"Bleeding"},{"category":"Organ","name":"Heart"}],"supportedAppointmentTypes":["ONLINE"],"languagesKnown":["English","Hindi"],"name":"Dr. John Doe","gender":"MALE","yearsExperience":3,"hasRecentAppointment":true,"followUpDays":14,"followUpUntil":"2025-06-15T05:30:00.000Z","recentAppointments":[{"appointmentId":10478,"appointmentDate":"2026-02-18T13:00:00.000Z","appointmentType":"HOME_VISIT","appointmentStatus":"CREATED"}],"profileUrl":null,"rating":4.3,"totalRatings":28,"unitFloorBuilding":"Tower 3, floor 5","address":"Main Street, 3rd Cross","locality":"District Square","city":"Bangalore","state":"Karnataka","pincode":"560013","latitude":13.045163,"longitude":77.537758,"distance":null},{"lsId":346484,"type":"DENTIST","specialities":[],"subSpecialities":[],"tags":[{"category":"Symptom","name":"Toothache"}],"supportedAppointmentTypes":["CENTER_VISIT"],"languagesKnown":["Hindi","Kannada"],"name":"Dr. Jane Smith","gender":"FEMALE","yearsExperience":null,"hasRecentAppointment":false,"followUpDays":7,"followUpUntil":null,"recentAppointments":[],"profileUrl":"https://clinic.example/profile.png","rating":4.9,"totalRatings":291,"unitFloorBuilding":null,"address":"4th Cross Rd, Centerway","locality":null,"city":"Bangalore","state":"Karnataka","pincode":"560010","latitude":12.971599,"longitude":77.594566,"distance":4}],"providerGroups":[{"type":"PHLEBOTOMIST","supportedAppointmentTypes":["CENTER_VISIT"],"specialities":[],"subSpecialities":[],"tags":[],"groupName":"Bangalore Phlebos","lsGroupId":47645}]}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"}},"parameters":[{"in":"query","name":"providerType","required":true,"schema":{"type":"string","example":"Doctor"}},{"in":"query","name":"appointmentType","required":true,"schema":{"type":"string","enum":["ONLINE","CENTER_VISIT","HOME_VISIT"]}},{"in":"query","name":"speciality","schema":{"type":"string"}},{"in":"query","name":"subSpeciality","schema":{"type":"string"}},{"in":"query","name":"tags","description":"Comma-separated list of tag names","schema":{"type":"string"}},{"in":"query","name":"procedureIds","description":"Comma-separated list of procedure IDs","schema":{"type":"string"}},{"in":"query","name":"providerIds","description":"Comma-separated list of provider IDs (the `lsId` of each provider). Restricts the search to these providers; provider groups are likewise reduced to their matching providers.","schema":{"type":"string","example":"347484,346484"}},{"in":"query","name":"tagIds","description":"Comma-separated list of tag IDs","schema":{"type":"string"}},{"in":"query","name":"categoryIds","description":"Comma-separated list of tag category IDs","schema":{"type":"string"}},{"in":"query","name":"gender","schema":{"type":"string","enum":["MALE","FEMALE"]}},{"in":"query","name":"latitude","schema":{"type":"string"}},{"in":"query","name":"longitude","schema":{"type":"string"}},{"in":"query","name":"pincode","schema":{"type":"string"}},{"in":"query","name":"address","schema":{"type":"string"}},{"in":"query","name":"locality","schema":{"type":"string"}},{"in":"query","name":"city","schema":{"type":"string"}},{"in":"query","name":"state","schema":{"type":"string"}},{"in":"query","name":"range","description":"Search radius in KM from the given location, applied to CENTER_VISIT only. Defaults to 10; values above 100 are rejected.","schema":{"type":"number","default":10,"maximum":100}},{"in":"query","name":"userUniqueId","schema":{"type":"string"}},{"in":"query","name":"perPage","description":"Results per page. Defaults to 200, which is also the maximum; a larger value is rejected with a 400.","schema":{"type":"integer","default":200,"maximum":200}},{"in":"query","name":"page","schema":{"type":"integer"}}],"description":"Searches network providers and provider groups with filtering; optional userUniqueId adds recent-appointment / follow-up data. Provide pincode OR latitude+longitude for non-ONLINE; provide speciality only with subSpeciality.\n"}},"/api/v1.0/availability/getProviderTags":{"get":{"tags":["Availability"],"summary":"List provider tags","security":[{"ApiKeyAuth":[]}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","example":"success"},"total":{"type":"integer"},"perPage":{"type":"integer"},"page":{"type":"integer"},"isLastPage":{"type":"boolean"},"tags":{"type":"array","items":{"type":"object","properties":{"tagId":{"type":"integer"},"tagName":{"type":"string"},"categoryId":{"type":"integer"},"categoryName":{"type":"string"},"providerCount":{"type":"integer"}}}}}},"example":{"status":"success","total":4,"perPage":200,"page":1,"isLastPage":true,"tags":[{"tagId":2,"tagName":"Cough","categoryId":1,"categoryName":"Symptom","providerCount":33},{"tagId":1,"tagName":"Fever","categoryId":1,"categoryName":"Symptom","providerCount":42},{"tagId":3,"tagName":"Head","categoryId":2,"categoryName":"Organ","providerCount":1},{"tagId":4,"tagName":"Heart","categoryId":2,"categoryName":"Organ","providerCount":1}]}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"}},"parameters":[{"in":"query","name":"perPage","description":"Results per page. Defaults to 200, which is also the maximum; a larger value is rejected with a 400.","schema":{"type":"integer","default":200,"maximum":200}},{"in":"query","name":"page","schema":{"type":"integer"}},{"in":"query","name":"categoryId","schema":{"type":"integer"}}],"description":"Lists provider tags with provider counts; optional categoryId filter."}},"/api/v1.0/availability/getProviderTagCategories":{"get":{"tags":["Availability"],"summary":"List provider tag categories","security":[{"ApiKeyAuth":[]}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","example":"success"},"total":{"type":"integer"},"perPage":{"type":"integer"},"page":{"type":"integer"},"isLastPage":{"type":"boolean"},"categories":{"type":"array","items":{"type":"object","properties":{"categoryId":{"type":"integer"},"categoryName":{"type":"string"},"tagCount":{"type":"integer"}}}}}},"example":{"status":"success","total":2,"perPage":200,"page":1,"isLastPage":true,"categories":[{"categoryId":1,"categoryName":"Symptom","tagCount":2},{"categoryId":2,"categoryName":"Organ","tagCount":2}]}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"}},"parameters":[{"in":"query","name":"perPage","description":"Results per page. Defaults to 200, which is also the maximum; a larger value is rejected with a 400.","schema":{"type":"integer","default":200,"maximum":200}},{"in":"query","name":"page","schema":{"type":"integer"}}],"description":"Lists provider-tag categories in the store network with per-category tag counts."}},"/api/v1.0/availability/getProcedures":{"get":{"tags":["Availability"],"summary":"List procedures","security":[{"ApiKeyAuth":[]}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","example":"success"},"total":{"type":"integer"},"perPage":{"type":"integer"},"page":{"type":"integer"},"isLastPage":{"type":"boolean"},"procedures":{"type":"array","items":{"type":"object","properties":{"lsProcedureId":{"type":"integer"},"name":{"type":"string"},"preProcedureInstructions":{"type":"string"},"postProcedureInstructions":{"type":"string"}}}}}},"example":{"status":"success","total":2,"perPage":200,"page":1,"isLastPage":true,"procedures":[{"lsProcedureId":1,"name":"Consultation","preProcedureInstructions":"","postProcedureInstructions":""},{"lsProcedureId":2,"name":"Injection","preProcedureInstructions":"Do not consume alcohol 12 hours prior","postProcedureInstructions":"Do not irritate the injected area"}]}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"}},"parameters":[{"in":"query","name":"perPage","description":"Results per page. Defaults to 200, which is also the maximum; a larger value is rejected with a 400.","schema":{"type":"integer","default":200,"maximum":200}},{"in":"query","name":"page","schema":{"type":"integer"}},{"in":"query","name":"providerType","description":"Filter by provider type","schema":{"type":"string"}}],"description":"Paginated list of procedures offered in the store network."}},"/api/v1.0/availability/getProcedure":{"get":{"tags":["Availability"],"summary":"Get procedure details","security":[{"ApiKeyAuth":[]}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","example":"success"},"lsProcedureId":{"type":"integer"},"name":{"type":"string"},"preProcedureInstructions":{"type":"string"},"postProcedureInstructions":{"type":"string"},"total":{"type":"integer"},"perPage":{"type":"integer"},"page":{"type":"integer"},"isLastPage":{"type":"boolean"},"providers":{"type":"array","items":{"type":"object","properties":{"lsId":{"type":"integer"},"name":{"type":"string"},"retailPrice":{"type":"number","description":"Provider's sale price for the procedure"},"cost":{"type":"number","description":"Your store's cost for the procedure"},"pricingModel":{"type":"string","enum":["FIXED","DISCOUNT"]},"duration":{"type":"integer","description":"Slot duration in minutes"},"appointmentType":{"type":"string","enum":["ONLINE","CENTER_VISIT","HOME_VISIT"]},"nextAvailableSlot":{"type":"string","description":"Next available slot start time (UTC). The same provider can appear multiple times with different appointment types."}}}}}},"example":{"status":"success","lsProcedureId":1,"name":"Consultation","preProcedureInstructions":"","postProcedureInstructions":"","total":3,"perPage":200,"page":1,"isLastPage":true,"providers":[{"lsId":7,"name":"Dr. Sameer Bhatia","retailPrice":800,"cost":800,"pricingModel":"FIXED","duration":20,"appointmentType":"ONLINE","nextAvailableSlot":"2026-07-21T13:50:00.000Z"},{"lsId":4,"name":"Dr. Aisha Narayanan","retailPrice":600,"cost":600,"pricingModel":"FIXED","duration":20,"appointmentType":"CENTER_VISIT","nextAvailableSlot":"2026-07-23T13:50:00.000Z"},{"lsId":19,"name":"Dr. Archana K","retailPrice":500,"cost":500,"pricingModel":"FIXED","duration":20,"appointmentType":"HOME_VISIT","nextAvailableSlot":"2026-07-22T13:50:00.000Z"}]}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"}},"parameters":[{"in":"query","name":"procedureId","required":true,"schema":{"type":"integer","example":15}},{"in":"query","name":"providerIds","description":"Comma-separated list of provider IDs","schema":{"type":"string"}},{"in":"query","name":"appointmentTypes","description":"Comma-separated list of appointment types (ONLINE, CENTER_VISIT, HOME_VISIT)","schema":{"type":"string"}},{"in":"query","name":"perPage","description":"Results per page. Defaults to 200, which is also the maximum; a larger value is rejected with a 400.","schema":{"type":"integer","default":200,"maximum":200}},{"in":"query","name":"page","schema":{"type":"integer"}}],"description":"Returns a procedure with the providers who offer it, store-discounted prices, and each provider's next available slot."}},"/api/v1.0/availability/getAppointmentSlots":{"get":{"tags":["Availability"],"summary":"Get appointment slots","security":[{"ApiKeyAuth":[]}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","example":"success"},"total":{"type":"integer","description":"Providers available on the given date that match every filter (including range and provider leave). Paging through all pages returns exactly this many entries in `slots`.\n"},"page":{"type":"integer"},"perPage":{"type":"integer"},"isLastPage":{"type":"boolean"},"slots":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string"},"specialities":{"type":"array","items":{"type":"string"}},"subSpecialities":{"type":"array","items":{"type":"string"}},"providerName":{"type":"string"},"lsId":{"type":"integer"},"gender":{"type":"string","enum":["MALE","FEMALE","OTHERS"]},"timing":{"type":"array","items":{"type":"object","properties":{"startTime":{"type":"string","description":"HH:MM (24-hour)"},"endTime":{"type":"string","description":"HH:MM (24-hour)"},"procedureIds":{"type":"array","items":{"type":"integer"}},"supportedAppointmentTypes":{"type":"array","items":{"type":"string"}}}}},"unitFloorBuilding":{"type":"string","nullable":true},"address":{"type":"string"},"locality":{"type":"string","nullable":true},"city":{"type":"string"},"state":{"type":"string"},"pincode":{"type":"string"},"latitude":{"type":"number"},"longitude":{"type":"number"},"distance":{"type":"number","nullable":true,"description":"Only for CENTER_VISIT appointment types"}}}},"groupSlots":{"type":"array","items":{"type":"object","properties":{"lsGroupId":{"type":"integer"},"procedureId":{"type":"integer"},"type":{"type":"string"},"supportedAppointmentTypes":{"type":"array","items":{"type":"string"}},"specialities":{"type":"array","items":{"type":"string"}},"subSpecialities":{"type":"array","items":{"type":"string"}},"groupName":{"type":"string"},"timing":{"type":"array","items":{"type":"object","properties":{"startTime":{"type":"string"},"endTime":{"type":"string"}}}}}}}}},"example":{"status":"success","total":2,"page":1,"perPage":20,"isLastPage":true,"pincode":"560035","latitude":13.045163,"longitude":77.537758,"date":"2025-06-01","slots":[{"type":"DOCTOR","specialities":[],"subSpecialities":[],"providerName":"Dr. John Doe","lsId":347484,"gender":"MALE","timing":[{"startTime":"08:15","endTime":"08:45","procedureIds":[1],"supportedAppointmentTypes":["ONLINE"]},{"startTime":"09:15","endTime":"09:45","procedureIds":[1],"supportedAppointmentTypes":["ONLINE"]},{"startTime":"14:00","endTime":"14:30","procedureIds":[1],"supportedAppointmentTypes":["ONLINE"]}],"unitFloorBuilding":"17/1","address":"Happy Clinic - 2nd Cross","locality":"Jaya Nagar","city":"Bengaluru","state":"Karnataka","pincode":"560041","latitude":13.012313,"longitude":76.3123189,"distance":5.6},{"type":"DOCTOR","specialities":[],"subSpecialities":[],"providerName":"Dr. Jane Smith","lsId":347485,"gender":"FEMALE","timing":[{"startTime":"10:30","endTime":"10:45","procedureIds":[1,3],"supportedAppointmentTypes":["ONLINE","CENTER_VISIT"]},{"startTime":"13:00","endTime":"13:30","procedureIds":[1,3],"supportedAppointmentTypes":["ONLINE","CENTER_VISIT"]}],"unitFloorBuilding":null,"address":"Healthy Clinic - 3rd Main Road","locality":null,"city":"Bengaluru","state":"Karnataka","pincode":"560013","latitude":12.412917,"longitude":76.5143189,"distance":12.3}],"groupSlots":[{"lsGroupId":47645,"procedureId":2,"type":"PHLEBOTOMIST","supportedAppointmentTypes":["CENTER_VISIT"],"specialities":[],"subSpecialities":[],"groupName":"Bangalore Phlebos","timing":[{"startTime":"08:15","endTime":"08:45"},{"startTime":"09:15","endTime":"09:45"},{"startTime":"14:00","endTime":"14:30"}]}]}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"}},"parameters":[{"in":"query","name":"providerType","required":true,"schema":{"type":"string","example":"Doctor"}},{"in":"query","name":"appointmentType","required":true,"schema":{"type":"string","enum":["ONLINE","CENTER_VISIT","HOME_VISIT"]}},{"in":"query","name":"date","required":true,"schema":{"type":"string","example":"2025-06-01"}},{"in":"query","name":"speciality","schema":{"type":"string"}},{"in":"query","name":"subSpeciality","schema":{"type":"string"}},{"in":"query","name":"gender","schema":{"type":"string","enum":["MALE","FEMALE"]}},{"in":"query","name":"procedureIds","description":"Comma-separated list of procedure IDs","schema":{"type":"string"}},{"in":"query","name":"providerIds","description":"Comma-separated list of provider IDs","schema":{"type":"string"}},{"in":"query","name":"perPage","description":"Results per page. Defaults to 20, which is also the maximum; a larger value is rejected with a 400.","schema":{"type":"integer","default":20,"maximum":20}},{"in":"query","name":"page","schema":{"type":"integer"}},{"in":"query","name":"latitude","schema":{"type":"string"}},{"in":"query","name":"longitude","schema":{"type":"string"}},{"in":"query","name":"pincode","schema":{"type":"string"}},{"in":"query","name":"address","schema":{"type":"string"}},{"in":"query","name":"locality","schema":{"type":"string"}},{"in":"query","name":"city","schema":{"type":"string"}},{"in":"query","name":"state","schema":{"type":"string"}},{"in":"query","name":"range","description":"Search radius in KM from the given location, applied to CENTER_VISIT only. Defaults to 10; values above 100 are rejected.","schema":{"type":"number","default":10,"maximum":100}}],"description":"Generates bookable slots per provider and provider group for a date, with distance filtering for CENTER_VISIT. Provide pincode OR latitude+longitude for non-ONLINE appointment types; provide speciality only when passing subSpeciality. For CENTER_VISIT the providers are returned nearest-first across pages.\n"}},"/api/v1.0/appointment/uploadDocument":{"post":{"tags":["Appointment"],"summary":"Upload appointment documents","security":[{"ApiKeyAuth":[]}],"responses":{"200":{"description":"Documents uploaded","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","example":"success"},"appointmentId":{"type":"integer"},"uploadedCount":{"type":"integer"},"documents":{"type":"array","items":{"type":"object","properties":{"documentId":{"type":"integer"},"docType":{"type":"string"}}}},"errors":{"type":"array","description":"present only on partial failure","items":{"type":"string"}}}},"example":{"status":"success","appointmentId":789,"uploadedCount":2,"documents":[{"documentId":456,"docType":"PRIOR_PRESCRIPTION"},{"documentId":457,"docType":"REFERRAL"}]}}}},"400":{"$ref":"#/components/responses/BadRequest","description":"Invalid request — bad appointmentId, empty/oversized documents array, unsupported file extension or size, or an invalid docType (including PRESCRIPTION, which is provider-only).","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","example":"failure"},"error":{"type":"string"}}},"example":{"status":"failure","error":"Document 1: docType PRESCRIPTION is reserved for provider-issued prescriptions. Use PRIOR_PRESCRIPTION for a prescription the patient already had."}}}},"401":{"$ref":"#/components/responses/Unauthorized"}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["appointmentId","documents"],"properties":{"appointmentId":{"type":"integer"},"documents":{"type":"array","items":{"type":"object","required":["content","fileName","docType"],"properties":{"content":{"type":"string","description":"base64-encoded file"},"fileName":{"type":"string","example":"report.pdf"},"docType":{"type":"string","enum":["PRIOR_PRESCRIPTION","REFERRAL","OTHER"],"description":"PRIOR_PRESCRIPTION for a prescription the patient already had, REFERRAL for a referral letter, OTHER for anything else. PRESCRIPTION is provider-only and returns 400."}}}}}},"example":{"appointmentId":789,"documents":[{"content":"JVBERi0xLjQK...","fileName":"prior-prescription.pdf","docType":"PRIOR_PRESCRIPTION"}]}}}},"description":"Uploads 1-5 base64-encoded documents (pdf/jpg/jpeg/png, max 10 MB each) to an appointment. `PRESCRIPTION` is reserved for the prescription the provider issues and is rejected with 400 — use `PRIOR_PRESCRIPTION` for a prescription the patient already had."}},"/api/v1.0/appointment/testWebhook":{"get":{"tags":["Appointment"],"summary":"Trigger a test appointment webhook","security":[{"ApiKeyAuth":[]}],"responses":{"200":{"description":"Webhook triggered","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","example":"success"},"message":{"type":"string","example":"Webhook successfully triggered"}}},"example":{"status":"success","message":"Webhook successfully triggered"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"}},"parameters":[{"in":"query","name":"appointmentId","required":true,"schema":{"type":"string"}},{"in":"query","name":"appointmentStatus","schema":{"type":"string","enum":["PENDING","CREATED","CONFIRMED","RESCHEDULED","DELAYED","CHECKED_IN","CANCELED","COMPLETED","PATIENT_NO_SHOW","PROVIDER_NO_SHOW"]}}],"description":"Fires the store's appointment webhook (STATUS_CHANGED) with a simulated status; test utility."}},"/api/v1.0/appointment/rescheduleAppointment":{"get":{"tags":["Appointment"],"summary":"Reschedule an appointment","security":[{"ApiKeyAuth":[]}],"responses":{"200":{"description":"Appointment rescheduled","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","example":"success"},"appointment":{"type":"object","properties":{"appointmentId":{"type":"integer"},"appointmentTime":{"type":"string","format":"date-time","nullable":true},"appointmentStatus":{"type":"string"},"followUpDays":{"type":"integer","nullable":true,"minimum":0,"description":"Free follow-up window (days) starting from the new appointment time; null if not configured or this appointment is itself a follow-up"},"followUpUntil":{"type":"string","nullable":true}}}}},"example":{"status":"success","appointment":{"appointmentId":789,"appointmentTime":"2025-06-02T11:00:00+05:30","appointmentStatus":"RESCHEDULED","followUpDays":null,"followUpUntil":null}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"}},"parameters":[{"in":"query","name":"appointmentId","required":true,"schema":{"type":"string"}},{"in":"query","name":"appointmentTime","required":true,"schema":{"type":"string","format":"date-time","example":"2025-06-01T11:00:00+05:30"}}],"description":"Reschedules an appointment (or updates the requested time of a not-yet-assigned provider-group request) and refreshes the online meeting link. This GET has side effects.\n"}},"/api/v1.0/appointment/getPrescriptionPdf":{"get":{"tags":["Appointment"],"summary":"Download prescription PDF","security":[{"ApiKeyAuth":[]}],"responses":{"200":{"description":"Prescription PDF","content":{"application/pdf":{"schema":{"type":"string","format":"binary"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"description":"Prescription not available"}},"parameters":[{"in":"query","name":"appointmentId","required":true,"schema":{"type":"string"}}],"description":"Renders and streams the appointment's prescription as a PDF."}},"/api/v1.0/appointment/getDocument":{"get":{"tags":["Appointment"],"summary":"Download an appointment document","security":[{"ApiKeyAuth":[]}],"responses":{"200":{"description":"The document file","content":{"application/octet-stream":{"schema":{"type":"string","format":"binary"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"}},"parameters":[{"in":"query","name":"documentId","required":true,"schema":{"type":"string"}}],"description":"Streams the raw document file (ownership-checked)."}},"/api/v1.0/appointment/getAuthenticatedMeetingLink":{"get":{"tags":["Appointment"],"summary":"Get authenticated meeting link","security":[{"ApiKeyAuth":[]}],"responses":{"200":{"description":"Authenticated meeting link","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","example":"success"},"meetingLink":{"type":"string"},"participantType":{"type":"string"},"participantName":{"type":"string"},"appointmentDate":{"type":"string","format":"date-time"},"windowStart":{"type":"string","format":"date-time"},"windowEnd":{"type":"string","format":"date-time"}}},"example":{"status":"success","meetingLink":"https://console.labstack.in/meetings/a3602e8c-bd6d-40ed-ba41-260f14e9d498?token=2b98fc36-50b2-4caf-aaa8-5bddab6c378f","participantType":"MAIN_PARTICIPANT","participantName":"Bob Smith","appointmentDate":"2025-06-01T11:00:00.000Z","windowStart":"2025-06-01T10:50:00.000Z","windowEnd":"2025-06-01T12:00:00.000Z"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"}},"parameters":[{"in":"query","name":"appointmentId","required":true,"schema":{"type":"string","example":789}},{"in":"query","name":"participantType","schema":{"type":"string","enum":["MAIN_PARTICIPANT","ADDITIONAL_PARTICIPANT","PROVIDER"],"default":"MAIN_PARTICIPANT"}}],"description":"Returns a token-appended teleconsultation link for an ONLINE appointment, valid within the allowed time window.\n"}},"/api/v1.0/appointment/getAppointments":{"get":{"tags":["Appointment"],"summary":"List appointments","security":[{"ApiKeyAuth":[]}],"responses":{"200":{"description":"Appointment list","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","example":"success"},"total":{"type":"integer"},"perPage":{"type":"integer"},"page":{"type":"integer"},"isLastPage":{"type":"boolean"},"appointments":{"type":"array","items":{"type":"object","properties":{"appointmentId":{"type":"string"},"appointmentStatus":{"type":"string"},"appointmentType":{"type":"string","enum":["ONLINE","CENTER_VISIT","HOME_VISIT"]},"referenceId":{"type":"string","nullable":true},"lsGroupId":{"type":"integer","nullable":true},"groupName":{"type":"string","nullable":true},"lsProviderId":{"type":"integer"},"providerName":{"type":"string"},"appointmentDate":{"type":"string","description":"ISO 8601 date-time"},"speciality":{"type":"string","nullable":true},"subSpeciality":{"type":"string","nullable":true},"isFollowUp":{"type":"boolean"},"previousAppointmentId":{"type":"integer","nullable":true},"followUpUntil":{"type":"string","nullable":true}}}}}},"example":{"status":"success","total":2,"perPage":200,"page":1,"isLastPage":true,"appointments":[{"appointmentId":"47585","appointmentStatus":"CREATED","appointmentType":"CENTER_VISIT","referenceId":"213","lsGroupId":1,"groupName":"Top Doctors","lsProviderId":12,"providerName":"Dr. John Doe","appointmentDate":"2023-12-23T18:25:43.511Z","speciality":"blood","subSpeciality":null,"isFollowUp":false,"previousAppointmentId":null,"followUpUntil":null},{"appointmentId":"434585","appointmentStatus":"PENDING","appointmentType":"HOME_VISIT","referenceId":null,"lsGroupId":null,"groupName":null,"lsProviderId":22,"providerName":"Dr. Jane Smith","appointmentDate":"2024-12-23T18:25:43.511Z","speciality":null,"subSpeciality":null,"isFollowUp":true,"previousAppointmentId":42537,"followUpUntil":null}]}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"}},"parameters":[{"in":"query","name":"startDate","schema":{"type":"string","format":"date"}},{"in":"query","name":"endDate","schema":{"type":"string","format":"date"}},{"in":"query","name":"updatedSince","schema":{"type":"string","format":"date-time"}},{"in":"query","name":"perPage","description":"Results per page. Defaults to 200, which is also the maximum; a larger value is rejected with a 400.","schema":{"type":"integer","default":200,"maximum":200}},{"in":"query","name":"page","schema":{"type":"integer"}},{"in":"query","name":"email","schema":{"type":"string"}}],"description":"Paginated list of the store's appointments with optional date and email filters. (updatedSince is accepted but currently not applied.)\n"}},"/api/v1.0/appointment/getAppointmentDetails":{"get":{"tags":["Appointment"],"summary":"Get appointment details","security":[{"ApiKeyAuth":[]}],"responses":{"200":{"description":"Appointment details","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","example":"success"},"appointmentDetails":{"type":"object","properties":{"appointmentId":{"type":"string"},"appointmentStatus":{"type":"string"},"appointmentType":{"type":"string","enum":["ONLINE","CENTER_VISIT","HOME_VISIT"]},"providerName":{"type":"string"},"referenceId":{"type":"string","nullable":true,"description":"Same value given when booking; null if none"},"lsProviderId":{"type":"integer"},"appointment":{"type":"string","description":"ISO 8601 date-time"},"providerUnitFloorBuilding":{"type":"string","nullable":true},"providerAddress":{"type":"string"},"providerLocality":{"type":"string","nullable":true},"providerCity":{"type":"string"},"providerState":{"type":"string"},"providerLatitude":{"type":"number"},"providerLongitude":{"type":"number"},"uniqueId":{"type":"string"},"name":{"type":"string"},"dateOfBirth":{"type":"string","nullable":true,"description":"YYYY-MM-DD"},"age":{"type":"integer","nullable":true},"gender":{"type":"string","enum":["MALE","FEMALE","OTHERS"]},"mobile":{"type":"string"},"altContact":{"type":"string","nullable":true},"unitFloorBuilding":{"type":"string","nullable":true},"address":{"type":"string"},"locality":{"type":"string","nullable":true},"city":{"type":"string"},"state":{"type":"string"},"pincode":{"type":"string"},"customerArrivalTime":{"type":"string","nullable":true,"description":"UTC; may be null"},"providerArrivalTime":{"type":"string","nullable":true,"description":"UTC; may be null"},"consultStartTime":{"type":"string","nullable":true,"description":"UTC; may be null"},"consultEndTime":{"type":"string","nullable":true,"description":"UTC; may be null"},"documents":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","enum":["PRESCRIPTION","PRIOR_PRESCRIPTION","REFERRAL","OTHER"],"description":"PRESCRIPTION is the prescription the provider issued; PRIOR_PRESCRIPTION is one the patient already had"},"mime":{"type":"string"},"link":{"type":"string","description":"Download link"}}}},"prescription":{"type":"object","nullable":true,"description":"Null until the prescription is filled in","properties":{"chiefComplaints":{"type":"string"},"doctorNotes":{"type":"string"},"followUpAdvice":{"type":"string"},"labTests":{"type":"array","items":{"type":"object","properties":{"testId":{"type":"string"},"type":{"type":"string","enum":["TEST","PACKAGE"]},"name":{"type":"string"},"instructions":{"type":"string"}}}},"medication":{"type":"array","items":{"type":"object","properties":{"drugId":{"type":"integer","nullable":true,"description":"Null if custom"},"name":{"type":"string"},"dosage":{"type":"string"},"frequency":{"type":"string"},"duration":{"type":"string"},"additionalInstructions":{"type":"string"}}}}}},"isFollowUp":{"type":"boolean"},"previousAppointmentId":{"type":"integer","nullable":true},"followUpUntil":{"type":"string","nullable":true}}},"followUpDays":{"type":"integer","nullable":true,"minimum":0,"description":"Free follow-up window (days); null if not configured"},"followupUntil":{"type":"string","nullable":true,"description":"Deadline until which a follow-up is valid; null if not available"}}},"example":{"status":"success","appointmentDetails":{"appointmentId":"434585","appointmentStatus":"PENDING","appointmentType":"HOME_VISIT","providerName":"Dr. John Doe","referenceId":"123","lsProviderId":22,"appointment":"2024-12-23T18:25:43.511Z","providerUnitFloorBuilding":"4th Floor Building A","providerAddress":"1234 Clinic Road","providerLocality":null,"providerCity":"Bangalore","providerState":"Karnataka","providerLatitude":13.045163,"providerLongitude":77.56,"uniqueId":"CUST001","name":"Bob Smith","dateOfBirth":"2000-01-01","age":24,"gender":"MALE","mobile":"8047359194","altContact":"8047359194","unitFloorBuilding":"2nd Floor Tower 3","address":"123 Main Road","locality":"Gopalapur","city":"Bangalore","state":"Karnataka","pincode":"560035","customerArrivalTime":"2024-12-23T08:05:42.511Z","providerArrivalTime":"2024-12-23T08:02:21.759Z","consultStartTime":"2024-12-23T08:05:42.511Z","consultEndTime":null,"documents":[{"type":"PRESCRIPTION","mime":"application/pdf","link":"https://integration.labstack.in/api/v1.0/appointment/getDocument?appointmentId=34&documentId=3"}],"prescription":{"chiefComplaints":"stomach ache for 2 days","doctorNotes":"Need follow up in 7 days","followUpAdvice":"","labTests":[],"medication":[]},"isFollowUp":false,"previousAppointmentId":null,"followUpUntil":"2026-08-04T03:30:00.000Z"},"followUpDays":7,"followupUntil":"2026-08-04T03:30:00.000Z"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"}},"parameters":[{"in":"query","name":"appointmentId","required":true,"schema":{"type":"string","example":789}}],"description":"Returns full detail for one appointment including patient, provider, documents (as download links), and parsed prescription.\n"}},"/api/v1.0/appointment/escalation":{"post":{"tags":["Appointment"],"summary":"Raise an appointment escalation","security":[{"ApiKeyAuth":[]}],"responses":{"200":{"description":"Escalation created","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","example":"success"},"escalation":{"type":"object","properties":{"id":{"type":"integer"},"complaint":{"type":"string"},"status":{"type":"string"},"severity":{"type":"string"}}}}},"example":{"status":"success","escalation":{"id":532,"complaint":"Provider did not join the call","status":"PENDING","severity":"HIGH"}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"description":"Failed to create escalation"}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["appointmentId","complaint","severity"],"properties":{"appointmentId":{"type":"integer"},"complaint":{"type":"string"},"severity":{"type":"string","enum":["LOW","MEDIUM","HIGH","CRITICAL"]},"description":{"type":"string"},"notes":{"type":"string"}}},"example":{"appointmentId":789,"complaint":"Provider did not join the call","severity":"HIGH","description":"The doctor was a no-show for the scheduled online consult.","notes":"Customer waited 15 minutes before leaving."}}}},"description":"Creates a store escalation tied to an appointment."}},"/api/v1.0/appointment/deleteDocument":{"delete":{"tags":["Appointment"],"summary":"Delete an appointment document","security":[{"ApiKeyAuth":[]}],"responses":{"200":{"description":"Success"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"501":{"description":"Endpoint currently disabled"}},"parameters":[],"description":"Currently disabled - always responds 501 Not Implemented.","deprecated":true}},"/api/v1.0/appointment/deleteAllDocuments":{"delete":{"tags":["Appointment"],"summary":"Delete all appointment documents","security":[{"ApiKeyAuth":[]}],"responses":{"200":{"description":"Success"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"501":{"description":"Endpoint currently disabled"}},"parameters":[],"description":"Currently disabled - always responds 501 Not Implemented.","deprecated":true}},"/api/v1.0/appointment/cancelAppointment":{"get":{"tags":["Appointment"],"summary":"Cancel an appointment","security":[{"ApiKeyAuth":[]}],"responses":{"200":{"description":"Appointment cancelled","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","example":"success"},"appointment":{"type":"object","properties":{"appointmentId":{"type":"string"},"appointmentStatus":{"type":"string"}}}}},"example":{"status":"success","appointment":{"appointmentId":"789","appointmentStatus":"CANCELED"}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"}},"parameters":[{"in":"query","name":"appointmentId","required":true,"schema":{"type":"string","example":789}},{"in":"query","name":"reason","schema":{"type":"string"}}],"description":"Cancels an appointment for the store; enforces the provider's cancellation cutoff window when the provider's main store differs. This GET has side effects.\n"}},"/api/v1.0/appointment/bookAppointment":{"post":{"tags":["Appointment"],"summary":"Book an appointment","security":[{"ApiKeyAuth":[]}],"responses":{"200":{"description":"Appointment booked","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","example":"success"},"appointment":{"type":"object","properties":{"appointmentId":{"type":"integer"},"appointmentStatus":{"type":"string"},"appointmentType":{"type":"string"},"referenceId":{"type":"string","nullable":true},"lsGroupId":{"type":"integer","nullable":true},"lsProviderId":{"type":"integer","nullable":true},"providerName":{"type":"string","nullable":true},"meetingLink":{"type":"string","nullable":true},"followUpDays":{"type":"integer","nullable":true,"minimum":0,"description":"Free follow-up window (days) starting from this appointment; null if not configured or this booking is itself a follow-up"},"followUpUntil":{"type":"string","nullable":true},"isFollowUp":{"type":"boolean"},"apiError":{"type":"string","nullable":true}}},"uniqueId":{"type":"string"},"paymentLink":{"type":"string","nullable":true,"description":"Only returned when isPaymentRequired is true. Valid for 15 minutes from booking."},"paymentLinkExpiresAt":{"type":"string","nullable":true,"description":"Only returned when isPaymentRequired is true. Always 15 minutes after booking; the appointment is cancelled at this point if unpaid.\n"},"previousAppointmentId":{"type":"integer","nullable":true}}},"example":{"status":"success","appointment":{"appointmentId":47585,"appointmentStatus":"CREATED","appointmentType":"HOME_VISIT","referenceId":"REF-123","lsGroupId":null,"lsProviderId":42,"providerName":"Dr. John Doe","meetingLink":null,"followUpDays":14,"followUpUntil":"2025-06-15T05:30:00.000Z","isFollowUp":false,"apiError":null},"uniqueId":"CUST001","paymentLink":null,"paymentLinkExpiresAt":null,"previousAppointmentId":null}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["appointmentType","appointment","name","email","mobile","gender"],"properties":{"lsProviderId":{"type":"integer","example":42},"lsGroupId":{"type":"integer","example":7,"description":"alternative to lsProviderId"},"lsProcedureId":{"type":"integer"},"preferredGender":{"type":"string","enum":["MALE","FEMALE"]},"appointmentType":{"type":"string","enum":["ONLINE","CENTER_VISIT","HOME_VISIT"]},"referenceId":{"type":"string","description":"optional external ref"},"appointment":{"type":"string","format":"date-time","example":"2025-06-01T11:00:00+05:30"},"notes":{"type":"string"},"uniqueId":{"type":"string","example":"CUST001","description":"optional; auto-generated if omitted"},"name":{"type":"string","example":"Ravi Kumar"},"email":{"type":"string","format":"email"},"mobile":{"type":"string","description":"10 digits"},"altContact":{"type":"string"},"dateOfBirth":{"type":"string","format":"date"},"age":{"type":"integer"},"gender":{"type":"string","enum":["MALE","FEMALE","OTHERS"]},"mainUserUniqueId":{"type":"string"},"relationship":{"type":"string","enum":["OTHER","HUSBAND","WIFE","FATHER","MOTHER","SON","DAUGHTER","GRANDFATHER","GRANDMOTHER","GRANDSON","GRANDDAUGHTER","SON_IN_LAW","DAUGHTER_IN_LAW","BROTHER","SISTER","BROTHER_IN_LAW","SISTER_IN_LAW","UNCLE","AUNT","COUSIN","NEPHEW","NIECE","MOTHER_IN_LAW","FATHER_IN_LAW","PARTNER","FRIEND","NEIGHBOUR"]},"unitFloorBuilding":{"type":"string"},"address":{"type":"string","description":"required for HOME_VISIT"},"locality":{"type":"string"},"city":{"type":"string","description":"required for HOME_VISIT"},"state":{"type":"string","description":"required for HOME_VISIT"},"pincode":{"type":"string","description":"required for HOME_VISIT/CENTER_VISIT"},"latitude":{"type":"number"},"longitude":{"type":"number"},"meetingType":{"type":"string","enum":["VIDEO","AUDIO_ONLY"],"description":"teleconsultation; default VIDEO"},"isPaymentRequired":{"type":"boolean","description":"Optional. If true a payment link valid for 15 minutes is returned, and the appointment is auto-cancelled (releasing the slot) if it is not paid within that window. Defaults to false.\n"},"paymentAmount":{"type":"number","example":350,"description":"Optional. Amount (in INR) the customer is asked to pay, used only when isPaymentRequired is true. Must be greater than 0, have at most 2 decimal places, and must not exceed the configured cost of the procedure on the booked slot. Omit to charge that configured cost. Not supported for provider-group requests, which have no confirmed slot.\n"},"isFollowUp":{"type":"boolean","description":"requires previousAppointmentId"},"previousAppointmentId":{"type":"integer"}}},"example":{"lsProviderId":42,"lsProcedureId":1,"appointmentType":"HOME_VISIT","referenceId":"REF-123","appointment":"2025-06-01T11:00:00+05:30","notes":"Patient prefers a morning slot.","uniqueId":"CUST001","name":"Bob Smith","email":"bobsmith@example.com","mobile":"8047359194","altContact":"8047359194","dateOfBirth":"2000-01-01","gender":"MALE","unitFloorBuilding":"2nd Floor Tower 3","address":"123 Main Road","locality":"Gopalapur","city":"Bangalore","state":"Karnataka","pincode":"560035","meetingType":"VIDEO","isPaymentRequired":false}}}},"description":"Creates an appointment (ONLINE teleconsult, HOME_VISIT, or CENTER_VISIT) with a provider or provider group for the authenticated store. Provide either lsProviderId or lsGroupId, and either dateOfBirth or age. Supports follow-up bookings and an optional pre-appointment payment link, which defaults to the configured cost of the procedure unless a lower paymentAmount is supplied. That link is valid for 15 minutes and the appointment is auto-cancelled if payment is not completed in that window.\n"}},"/api/v1.0/admin/status":{"get":{"tags":["Admin"],"summary":"Service health check","security":[{"ApiKeyAuth":[]}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","example":"success"},"healthy":{"type":"boolean","example":true}}},"example":{"status":"success","healthy":true}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"503":{"description":"Service unhealthy"}},"description":"Verifies database connectivity."}},"/api/v1.0/admin/getBalance":{"get":{"tags":["Admin"],"summary":"Get wallet balance","security":[{"ApiKeyAuth":[]}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","example":"success"},"walletBalance":{"type":"integer","example":0}}},"example":{"status":"success","walletBalance":0}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"}},"description":"Returns the store's LabStack wallet balance (currently a stub returning 0)."}}}}